In [ ]:
!java -version

In [ ]:
import pandas as pd
import numpy as np
import tabula
from tabulate import tabulate
import re

In [ ]:
bach_cols_2021 = [
    'cip_code',
    'total_graduates',
    'knowledge_rate',
    'career_outcomes_perc',
    'total_perc_employed_overall',
    'total_perc_employed_full_time',
    'total_perc_employed_part_time',
    'perc_standard_employment_overall',
    'perc_standard_full_time',
    'perc_standard_part_time',
    'perc_entrepreneur_overall',
    'perc_entrepreneur_full_time',
    'perc_entrepreneur_part_time',
    'perc_temp_contract_overall',
    'perc_temp_contract_full_time',
    'perc_temp_contract_part_time',
    'perc_freelance_overall',
    'perc_freelance_full_time',
    'perc_freelance_part_time',
    'perc_fellowship_intern_overall',
    'perc_fellowship_intern_full_time',
    'perc_fellowship_intern_part_time',
    'perc_service',
    'perc_military',
    'perc_continuing_ed',
    'perc_still_seeking_overall',
    'perc_seeking_employment',
    'perc_seeking_continuing_ed',
    'perc_not_seeking',
    'mean_starting_salary'
    ]

mast_cols_2021 = [
    'cip_code',
    'total_graduates',
    'knowledge_rate',
    'career_outcomes_perc',
    'total_perc_employed_overall',
    'total_perc_employed_full_time',
    'total_perc_employed_part_time',
    'perc_standard_employment_overall',
    'perc_standard_full_time',
    'perc_standard_part_time',
    'perc_faculty_overall',
    'perc_faculty_tenure',
    'perc_faculty_non_tenure',
    'perc_entrepreneur_overall',
    'perc_entrepreneur_full_time',
    'perc_entrepreneur_part_time',
    'perc_temp_contract_overall',
    'perc_temp_contract_full_time',
    'perc_temp_contract_part_time',
    'perc_freelance_overall',
    'perc_freelance_full_time',
    'perc_freelance_part_time',
    'perc_fellowship_intern_overall',
    'perc_fellowship_intern_full_time',
    'perc_fellowship_intern_part_time',
    'perc_service',
    'perc_military',
    'perc_continuing_ed',
    'perc_still_seeking_overall',
    'perc_seeking_employment',
    'perc_seeking_continuing_ed',
    'perc_not_seeking',
    'mean_starting_salary'
    ]

In [ ]:
bach_cols_2018 = list(np.append(bach_cols_2021[:-5], bach_cols_2021[-4:]))
bach_cols_2017 = bach_cols_2018
bach_cols_2016 = bach_cols_2018

mast_cols_2016 = list(np.append(mast_cols_2021[:10], mast_cols_2021[13:]))

In [ ]:
print(len(bach_cols_2017))

In [ ]:
bach_2021 = tabula.read_pdf('pdf_data\\2021.pdf', pages='16-73')
mast_2021 = tabula.read_pdf('pdf_data\\2021.pdf', pages='78-125')
#bach_2020 = tabula.read_pdf('pdf_data\\2020.pdf', pages='17-67')
#mast_2020 = tabula.read_pdf('pdf_data\\2020.pdf', pages='72-117')
bach_2018 = tabula.read_pdf('pdf_data\\2018.pdf', pages='24-71')
mast_2018 = tabula.read_pdf('pdf_data\\2018.pdf', pages='73-116')
bach_2017 = tabula.read_pdf('pdf_data\\2017.pdf', pages='25-70')
mast_2017 = tabula.read_pdf('pdf_data\\2017.pdf', pages='72-114')
bach_2016 = tabula.read_pdf('pdf_data\\2016.pdf', pages='25-70')
mast_2016 = tabula.read_pdf('pdf_data\\2016.pdf', pages='72-115')

In [327]:
df = bach_2017[1].loc[:1,:]

for i in df.columns:
    if ('Unnamed' not in i) and (' ' in i):
        col_to_sep = i
        col_sep = i.split(' ')
        df[col_sep] = df[col_to_sep].str.split(' ',expand=True)
        df = df.drop(columns=col_to_sep)
df

C:\Users\jeffc\AppData\Local\Temp\ipykernel_14976\1111225762.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_sep] = df[col_to_sep].str.split(' ',expand=True)
C:\Users\jeffc\AppData\Local\Temp\ipykernel_14976\1111225762.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_sep] = df[col_to_sep].str.split(' ',expand=True)

,Unnamed: 0,03.02,03.03,Unnamed: 1,03.05,03.06,Unnamed: 2,Unnamed: 3,03,03.01
0,TOTAL GRADUATES,855,76,NaN,217,426,NaN,NaN,"5,005","3,431"
1,KNOWLEDGE RATE,58.9%,67.1%,NaN,57.1%,62.7%,NaN,NaN,58.7%,58.1%

In [328]:
new_bach_2017 = []
for i in bach_2017:
    df = i
    if 'Unnamed: 1' in df.columns:
        df = df.drop(columns='Unnamed: 1')
    if 'Unnamed: 2' in df.columns:
        df = df.drop(columns='Unnamed: 2')
    if 'Unnamed: 3' in df.columns:
        df = df.drop(columns='Unnamed: 3')
    if (len(df) > 1) and (len(df.columns) > 3):
        new_bach_2017.append(df[(df[df.columns[-2]].notna())&(df[df.columns[-3]].notna())])
    elif (len(df) > 1) and (len(df.columns) <= 3):
        new_bach_2017.append(df[df[df.columns[-2]].notna()])

middle_bach_2017 = []

for i in new_bach_2017:
    df = i.reset_index(drop=True)
    for ind,r in df.iterrows():
        if type(df.at[ind, df.columns[-1]]) == float:
            row_vals = ['NA']
            row_vals.extend(list(df.iloc[ind][:-1]))
            df.iloc[ind] = row_vals
    if len(df) > 3:
        middle_bach_2017.append(df)

final_bach_2017 = []

for i in middle_bach_2017:
    df = i
    if type(df.at[0, df.columns[-1]]) == float:
        row_vals = ['NA']
        row_vals.extend(list(df.iloc[0][:-1]))
        df.iloc[0] = row_vals
    for x in df.columns:
        if ('Unnamed' not in x) and (' ' in x):
            col_to_sep = x
            col_sep = x.split(' ')
            df[col_sep] = df[col_to_sep].str.split(' ',expand=True)
            df = df.drop(columns=col_to_sep)
    final_bach_2017.append(df)


for i in final_bach_2017:
    display(i)

,Unnamed: 0,01,01.00,01.01,01.02,01.03,1.05,01.08,01.09,01.10,01.11,01.12
0,TOTAL GRADUATES,"6,650","1,204","1,448",67,193,75,262,"1,697","1,015",637,29
1,KNOWLEDGE RATE,64.0%,55.1%,73.3%,64.2%,64.8%,66.7%,84.4%,69.4%,39.0%,74.4%,89.7%
2,CAREER OUTCOMES PERCENTAGE,83.4%,73.7%,88.6%,90.7%,91.1%,90.0%,76.3%,82.2%,80.5%,90.6%,76.9%
3,PERCENT EMPLOYED OVERALL,61.9%,57.8%,75.0%,81.4%,72.0%,80.0%,61.1%,50.2%,51.5%,70.3%,53.8%
4,Percent Employed Full-time,56.9%,53.0%,72.7%,79.1%,62.4%,64.0%,54.3%,43.7%,48.0%,64.8%,38.5%
5,Percent Employed Part-time,5.0%,4.8%,2.4%,2.3%,9.6%,16.0%,6.8%,6.5%,3.5%,5.5%,15.4%
6,Employment,51.7%,46.8%,66.3%,58.1%,54.4%,76.0%,51.6%,42.0%,44.2%,52.3%,53.8%
7,Employment Full-time,48.3%,44.1%,64.8%,55.8%,48.0%,62.0%,47.5%,37.0%,42.2%,48.7%,38.5%
8,Employment Part-time,3.5%,2.7%,1.5%,2.3%,6.4%,14.0%,4.1%,5.0%,2.0%,3.6%,15.4%
9,Percent Entrepreneur,3.3%,4.2%,3.8%,16.3%,3.2%,2.0%,2.7%,2.0%,1.0%,5.5%,0.0%
10,Percent Entrepreneur Full-time,3.2%,4.1%,3.7%,16.3%,3.2%,2.0%,2.3%,2.0%,0.5%,5.3%,0.0%
11,Percent Entrepreneur Part-time,0.1%,0.2%,0.1%,0.0%,0.0%,0.0%,0.5%,0.0%,0.5%,0.2%,0.0%
12,Contract Employee,3.1%,4.1%,1.1%,7.0%,5.6%,2.0%,1.8%,3.2%,3.5%,5.7%,0.0%
13,Contract Employee Full-time,2.3%,2.9%,0.8%,7.0%,4.8%,0.0%,0.9%,2.0%,3.0%,4.6%,0.0%
14,Contract Employee Part-time,0.8%,1.2%,0.3%,0.0%,0.8%,2.0%,0.9%,1.2%,0.5%,1.1%,0.0%
15,Percent Freelance,0.8%,0.6%,1.1%,0.0%,2.4%,0.0%,0.9%,0.8%,0.3%,0.6%,0.0%
16,Percent Freelance Full-time,0.6%,0.5%,0.8%,0.0%,0.0%,0.0%,0.5%,0.7%,0.3%,0.6%,0.0%
17,Percent Freelance Part-time,0.2%,0.2%,0.3%,0.0%,2.4%,0.0%,0.5%,0.1%,0.0%,0.0%,0.0%
18,Internship,2.9%,2.1%,2.7%,0.0%,6.4%,0.0%,4.1%,2.2%,2.5%,6.1%,0.0%
19,Internship Full-time,2.6%,1.5%,2.5%,0.0%,6.4%,0.0%,3.2%,2.0%,2.0%,5.5%,0.0%
20,Internship Part-time,0.4%,0.6%,0.2%,0.0%,0.0%,0.0%,0.9%,0.3%,0.5%,0.6%,0.0%
21,PERCENT SERVICE,0.7%,1.2%,0.4%,0.0%,0.0%,2.0%,1.4%,0.4%,0.3%,1.5%,0.0%
22,PERCENT MILITARY,0.5%,0.8%,0.3%,0.0%,0.8%,0.0%,0.0%,0.6%,0.0%,0.8%,0.0%
23,PERCENT CONTINUING EDUCATION,19.3%,13.3%,12.3%,9.3%,16.8%,8.0%,13.1%,29.6%,27.5%,16.5%,23.1%
24,PERCENT SEEKING EMPLOYMENT,14.5%,25.5%,11.0%,9.3%,5.6%,6.0%,22.6%,13.6%,15.7%,8.0%,23.1%
25,CONTINUING EDUCATION,1.9%,0.6%,0.3%,0.0%,3.2%,4.0%,0.9%,3.9%,3.5%,1.3%,0.0%
26,NOT SEEKING,1.2%,0.9%,0.7%,0.0%,1.6%,0.0%,0.9%,1.7%,1.5%,1.7%,0.0%
27,MEAN STARTING SALARY,"$41,398",NA,"$46,539","$51,636","$32,688","$24,571","$38,891","$34,440","$45,326","$38,371","$42,548"

,Unnamed: 0,03.02,03.03,03.05,03.06,03,03.01
0,TOTAL GRADUATES,855,76,217,426,"5,005","3,431"
1,KNOWLEDGE RATE,58.9%,67.1%,57.1%,62.7%,58.7%,58.1%
2,CAREER OUTCOMES PERCENTAGE,81.9%,74.5%,92.6%,74.4%,77.9%,76.6%
3,PERCENT EMPLOYED OVERALL,66.3%,52.9%,80.6%,64.0%,59.5%,56.1%
4,Percent Employed Full-time,55.8%,45.1%,75.0%,55.1%,51.9%,49.2%
5,Percent Employed Part-time,10.5%,7.8%,5.6%,9.0%,7.7%,6.9%
6,Percent Standard Employment,55.0%,31.4%,65.3%,48.7%,48.0%,45.4%
7,Percent Standard Employment Full-time,46.0%,23.5%,62.9%,40.4%,41.8%,40.1%
8,Percent Standard Employment Part-time,8.9%,7.8%,2.4%,8.2%,6.1%,5.3%
9,Percent Entrepreneur,0.8%,0.0%,0.8%,0.4%,0.5%,0.5%
10,Percent Entrepreneur Full-time,0.8%,0.0%,0.8%,0.4%,0.5%,0.5%
11,Percent Entrepreneur Part-time,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
12,Percent Temp/Contract Employee,7.5%,21.6%,12.9%,10.1%,6.8%,5.4%
13,Percent Temp/Contract Employee Full-time,6.9%,21.6%,9.7%,9.4%,5.6%,4.2%
14,Percent Temp/Contract Employee Part-time,0.6%,0.0%,3.2%,0.7%,1.2%,1.3%
15,Percent Freelance,0.2%,0.0%,0.0%,0.7%,0.5%,0.6%
16,Percent Freelance Full-time,0.0%,0.0%,0.0%,0.7%,0.3%,0.4%
17,Percent Freelance Part-time,0.2%,0.0%,0.0%,0.0%,0.1%,0.2%
18,Percent Post-Grad Fellowship/Internship,2.8%,0.0%,1.6%,4.1%,3.7%,4.2%
19,WILDLANDS Percent Post-Grad Fellowship/Interns...,2.0%,0.0%,1.6%,4.1%,3.5%,4.0%
20,Percent Post-Grad Fellowship/Internship Part-time,0.8%,0.0%,0.0%,0.0%,0.2%,0.2%
21,PERCENT SERVICE,2.2%,0.0%,0.0%,1.5%,3.3%,4.1%
22,PERCENT MILITARY,1.6%,0.0%,1.6%,0.0%,1.0%,1.0%
23,PERCENT CONTINUING EDUCATION,9.7%,21.6%,8.1%,7.5%,12.5%,13.9%
24,PERCENT SEEKING EMPLOYMENT,15.7%,21.6%,7.3%,22.5%,16.6%,16.5%
25,PERCENT SEEKING CONTINUING EDUCATION,2.0%,3.9%,0.0%,2.6%,5.0%,6.4%
26,NOT SEEKING,2.6%,0.0%,2.4%,1.9%,2.1%,2.1%
27,MEAN STARTING SALARY,"$35,026",NA,"$35,679","$29,256","$35,645","$36,668"

              Unnamed: 0       04    04.02    04.03     4.04    04.05    04.06
0                    NaN    2,502    1,670      413       80       49      265
1                    NaN    61.5%    64.3%    56.2%    40.0%    57.1%    56.6%
2                    NaN    85.5%    86.1%    77.1%    84.4%    89.3%    91.2%
3                    NaN    62.6%    59.5%    61.2%    75.0%    85.7%    74.7%
4                    NaN    59.3%    56.6%    56.5%    71.9%    75.0%    71.3%
5                    NaN     3.4%     2.9%     4.7%     3.1%    10.7%     3.3%
6                    NaN    54.3%    50.3%    55.6%    75.0%    75.0%    64.7%
7                    NaN    52.1%    48.6%    52.2%    71.9%    67.9%    62.7%
8                    NaN     2.2%     1.8%     3.4%     3.1%     7.1%     2.0%
9                    NaN     1.0%     0.7%     1.7%     0.0%     3.6%     2.0%
10                   NaN     0.8%     0.7%     1.3%     0.0%     3.6%     1.3%
11                   NaN     0.1%     0.0%     0.4%     0.0%     0.0%     0.7%
12                   NaN     1.9%     1.7%     1.7%     0.0%     0.0%     4.7%
13                   NaN     1.4%     1.1%     1.3%     0.0%     0.0%     4.0%
14                   NaN     0.5%     0.6%     0.4%     0.0%     0.0%     0.7%
15                   NaN     0.3%     0.5%     0.0%     0.0%     0.0%     0.0%
16                   NaN     0.2%     0.3%     0.0%     0.0%     0.0%     0.0%
17                   NaN     0.1%     0.2%     0.0%     0.0%     0.0%     0.0%
18                   NaN     5.2%     6.3%     2.2%     0.0%     7.1%     3.3%
19                   NaN     4.8%     6.0%     1.7%     0.0%     3.6%     3.3%
20                   NaN     0.4%     0.4%     0.4%     0.0%     3.6%     0.0%
21                   NaN     0.4%     0.1%     1.3%     0.0%     0.0%     1.3%
22                   NaN     0.5%     0.5%     0.9%     0.0%     0.0%     0.7%
23                   NaN    20.7%    24.6%    13.4%     9.4%     3.6%    13.3%
24                   NaN    13.0%    13.0%    17.2%    15.6%    10.7%     7.3%
25                   NaN     1.4%     0.6%     5.6%     0.0%     0.0%     1.3%
26                   NaN     1.4%     1.8%     0.4%     0.0%     0.0%     1.3%
27  MEAN STARTING SALARY  $45,478  $46,045  $45,440  $43,159  $42,273  $42,933

                      05    05.01    05.02 Unnamed: 0
0                    NaN    2,419    1,343      1,076
1                     NA    60.5%    61.5%     59.20%
2                    NaN    79.1%    81.2%     76.37%
3                    NaN    56.1%    57.9%     53.76%
4                    NaN    48.3%    51.2%     44.43%
5                    NaN     7.9%     6.7%      9.42%
6                    NaN    45.5%    46.2%     44.58%
7                    NaN    40.1%    41.2%     38.62%
8                    NaN     5.5%     5.1%      5.97%
9                    NaN     0.9%     1.0%      0.78%
10                   NaN     0.8%     1.0%      0.63%
11                   NaN     0.1%     0.0%      0.16%
12                   NaN     3.8%     3.8%      3.77%
13                   NaN     2.2%     2.7%      1.57%
14                   NaN     1.6%     1.1%      2.20%
15                   NaN     0.8%     0.8%      0.63%
16                   NaN     0.4%     0.5%      0.31%
17                   NaN     0.3%     0.4%      0.31%
18                   NaN     5.2%     6.1%      4.08%
19                   NaN     4.8%     5.9%      3.30%
20                   NaN     0.4%     0.1%      0.78%
21                   NaN     2.6%     2.2%      3.14%
22                   NaN     1.0%     1.7%      0.00%
23                   NaN    17.6%    17.6%     17.58%
24                   NaN    13.9%    13.4%     14.44%
25                   NaN     6.6%     5.0%      8.63%
26                   NaN     2.4%     2.3%       2.5%
27  MEAN STARTING SALARY  $41,699  $43,955    $38,295

              Unnamed: 0       09    09.01    09.04    09.07    09.09
0                     NA   25,013   14,111    3,703    1,336    5,851
1                     NA    66.3%    62.8%    66.7%    68.8%    73.8%
2                    NaN    85.3%    84.9%    85.3%    87.1%    85.9%
3                    NaN    75.8%    74.3%    75.1%    83.4%    77.6%
4                    NaN    66.6%    64.3%    65.6%    72.7%    70.6%
5                    NaN     9.2%    10.0%     9.6%    10.9%     7.0%
6                    NaN    65.7%    65.3%    63.5%    67.4%    67.4%
7                    NaN    59.7%    58.7%    57.2%    60.4%    63.0%
8                    NaN     6.0%     6.6%     6.4%     7.0%     4.3%
9                    NaN     1.4%     1.1%     1.1%     2.4%     1.8%
10                   NaN     1.1%     0.8%     1.1%     2.3%     1.7%
11                   NaN     0.2%     0.3%     0.0%     0.1%     0.1%
12                   NaN     2.9%     2.7%     3.3%     3.2%     3.0%
13                   NaN     1.8%     1.7%     2.1%     2.3%     1.8%
14                   NaN     1.1%     1.0%     1.2%     0.9%     1.2%
15                   NaN     1.9%     1.9%     2.6%     4.8%     0.9%
16                   NaN     0.9%     0.6%     1.5%     2.4%     0.7%
17                   NaN     1.0%     1.2%     1.1%     2.4%     0.3%
18                   NaN     3.9%     3.3%     4.6%     5.9%     4.5%
19                   NaN     3.1%     2.5%     3.7%     5.3%     3.4%
20                   NaN     0.9%     0.8%     0.9%     0.5%     1.0%
21                   NaN     0.7%     0.8%     0.8%     0.5%     0.5%
22                   NaN     0.3%     0.3%     0.3%     0.3%     0.3%
23                   NaN     7.5%     8.3%     8.3%     2.6%     6.6%
24                   NaN    12.8%    13.0%    13.0%     9.8%    12.8%
25                   NaN     1.7%     1.9%     1.6%     3.0%     1.2%
26                   NaN     1.2%     1.4%     0.9%     0.3%     1.0%
27  MEAN STARTING SALARY  $38,897  $39,623  $36,991  $37,949  $38,824

                      10    10.02    10.03 Unnamed: 0
0                     NA      393      147        232
1                     NA    78.6%    79.6%      78.0%
2                    NaN    86.0%    89.5%      83.5%
3                    NaN    78.3%    81.2%      77.3%
4                    NaN    65.7%    61.5%      68.5%
5                    NaN    12.6%    19.7%       8.8%
6                    NaN    60.8%    54.7%      64.6%
7                    NaN    54.4%    44.4%      60.2%
8                    NaN     6.5%    10.3%       4.4%
9                    NaN     2.9%     1.7%       3.9%
10                   NaN     2.6%     1.7%       3.3%
11                   NaN     0.3%     0.0%       0.6%
12                   NaN     4.9%     7.7%       3.3%
13                   NaN     2.3%     3.4%       1.7%
14                   NaN     2.6%     4.3%       1.7%
15                   NaN     6.8%    13.7%       2.8%
16                   NaN     4.9%    10.3%       1.7%
17                   NaN     1.9%     3.4%       1.1%
18                   NaN     2.9%     3.4%       2.8%
19                   NaN     1.6%     1.7%       1.7%
20                   NaN     1.3%     1.7%       1.1%
21                   NaN     0.0%     0.0%       0.0%
22                   NaN     0.0%     0.0%       0.0%
23                   NaN     5.2%     6.0%       3.9%
24                   NaN    12.6%     8.5%      15.5%
25                   NaN     1.0%     1.7%       0.6%
26                   NaN     2.9%     2.6%       2.8%
27  MEAN STARTING SALARY  $36,234  $36,018    $36,291

,Unnamed: 0,11,11.01,11.04,11.05,11.07,11.08,11.09,11.10
0,TOTAL GRADUATES,"14,125","3,391",463,361,"8,648",412,98,729
1,KNOWLEDGE RATE,68.4%,69.7%,71.3%,53.7%,68.6%,59.2%,78.6%,71.5%COMPUTER AND
2,CAREER OUTCOMES PERCENTAGE,86.8%,86.5%,83.8%,88.9%,87.1%,80.1%,92.2%,85.2%INFORMATION
3,PERCENT EMPLOYED OVERALL,76.5%,77.5%,73.9%,80.9%,76.4%,67.2%,92.2%,73.1%
4,Percent Employed Full-time,73.3%,73.9%,73.1%,61.3%,74.3%,55.3%,84.4%,69.3%INFORMATION
5,Percent Employed Part-time,3.2%,3.6%,0.7%,19.6%,2.2%,11.9%,7.8%,3.8%SCIENCE/STUDIES
6,Percent Standard Employment,71.6%,73.0%,70.9%,68.0%,72.2%,53.7%,83.1%,66.6%
7,Percent Standard Employment Full-time,69.5%,70.6%,70.1%,57.7%,70.8%,46.3%,76.6%,63.3%COMPUTER SYSTEMS
8,Percent Standard Employment Part-time,2.1%,2.5%,0.7%,10.3%,1.4%,7.4%,6.5%,3.3%ANALYSIS
9,Percent Entrepreneur,1.1%,1.0%,1.1%,0.5%,1.0%,4.5%,1.3%,1.7%
10,Percent Entrepreneur Full-time,1.0%,0.8%,1.1%,0.5%,1.0%,3.7%,1.3%,1.7%COMPUTER SCIENCE
11,Percent Entrepreneur Part-time,0.1%,0.1%,0.0%,0.0%,0.0%,0.8%,0.0%,0.0%
12,Percent Temp/Contract Employee,1.7%,1.9%,0.7%,0.0%,1.5%,4.9%,3.9%,2.9%
13,Percent Temp/Contract Employee Full-time,1.3%,1.4%,0.7%,0.0%,1.2%,2.9%,2.6%,2.3%SOFTWARE AND MEDIA
14,Percent Temp/Contract Employee Part-time,0.4%,0.5%,0.0%,0.0%,0.3%,2.0%,1.3%,0.6%
15,Percent Freelance,0.5%,0.4%,0.0%,1.0%,0.5%,1.2%,0.0%,0.2%COMPUTER SYSTEMS
16,Percent Freelance Full-time,0.2%,0.2%,0.0%,1.0%,0.2%,0.4%,0.0%,0.2%NETWORKING AND TELECOMMUNICATIONS
17,Percent Freelance Part-time,0.3%,0.2%,0.0%,0.0%,0.4%,0.8%,0.0%,0.0%
18,Percent Post-Grad Fellowship/Internship,1.5%,1.2%,1.1%,11.3%,1.3%,2.9%,3.9%,1.7%INFORMATION
19,Percent Post-Grad Fellowship/Internship Full-time,1.2%,0.8%,1.1%,2.1%,1.1%,2.0%,3.9%,1.7%TECHNOLOGY & MANAGEMENT
20,Percent Post-Grad Fellowship/Internship Part-time,0.4%,0.3%,0.0%,9.3%,0.2%,0.8%,0.0%,0.0%
21,PERCENT SERVICE,0.2%,0.3%,0.4%,0.0%,0.1%,0.0%,0.0%,0.0%
22,PERCENT MILITARY,0.6%,0.9%,0.7%,0.5%,0.4%,0.4%,0.0%,0.8%
23,PERCENT CONTINUING EDUCATION,8.1%,6.3%,7.8%,5.2%,9.0%,8.2%,0.0%,8.8%
24,PERCENT SEEKING EMPLOYMENT,11.1%,11.3%,14.2%,10.8%,10.8%,16.0%,7.8%,11.7%
25,PERCENT SEEKING CONTINUING EDUCATION,1.9%,1.9%,1.9%,0.0%,1.9%,2.9%,0.0%,2.7%
26,NOT SEEKING,1.7%,1.9%,1.1%,2.6%,1.4%,5.3%,0.0%,2.9%
27,MEAN STARTING SALARY,"$72,677","$59,674","$61,501","$57,091","$78,803","$58,696","$47,792","$60,603"

,Unnamed: 0,13,13.01,13.03,13.04,13.10,13.12,13.13,13.14
0,NA,"14,868","1,763",39,117,"1,763","7,642","3,193",210
1,NA,67.7%,53.9%,46.2%,56.4%,67.0%,68.8%,72.9%,70.5%
2,NaN,86.5%,83.8%,72.2%,81.5%,85.0%,87.4%,86.3%,83.0%
3,NaN,75.5%,68.4%,66.7%,72.7%,71.1%,77.5%,75.9%,77.0%
4,NaN,68.3%,62.5%,66.7%,69.7%,66.2%,69.8%,67.5%,73.0%
5,NaN,7.2%,5.9%,0.0%,3.0%,4.9%,7.7%,8.5%,4.1%
6,NaN,70.2%,66.4%,55.6%,65.2%,66.8%,72.0%,69.1%,72.3%
7,NaN,64.8%,61.1%,55.6%,62.1%,62.9%,66.4%,63.0%,68.9%
8,NaN,5.4%,5.4%,0.0%,3.0%,3.9%,5.6%,6.1%,3.4%
9,NaN,0.6%,0.2%,0.0%,1.5%,0.4%,0.6%,0.7%,0.0%
10,NaN,0.5%,0.2%,0.0%,1.5%,0.3%,0.6%,0.5%,0.0%
11,NaN,0.1%,0.0%,0.0%,0.0%,0.1%,0.0%,0.2%,0.0%
12,NaN,3.2%,1.4%,5.6%,6.1%,2.9%,3.5%,3.8%,2.7%
13,NaN,2.1%,1.1%,5.6%,6.1%,1.9%,2.1%,2.4%,2.7%
14,NaN,1.2%,0.3%,0.0%,0.0%,0.9%,1.4%,1.3%,0.0%
15,NaN,0.7%,0.1%,5.6%,0.0%,0.4%,0.7%,0.9%,0.0%
16,NaN,0.2%,0.0%,5.6%,0.0%,0.4%,0.1%,0.3%,0.0%
17,NaN,0.5%,0.1%,0.0%,0.0%,0.0%,0.6%,0.6%,0.0%
18,NaN,0.8%,0.3%,0.0%,0.0%,0.6%,0.7%,1.4%,2.0%
19,NaN,0.7%,0.2%,0.0%,0.0%,0.6%,0.6%,1.2%,1.4%
20,NaN,0.1%,0.1%,0.0%,0.0%,0.0%,0.1%,0.2%,0.7%
21,NaN,0.6%,0.4%,0.0%,3.0%,0.7%,0.6%,0.6%,0.0%
22,NaN,0.2%,0.5%,0.0%,0.0%,0.1%,0.1%,0.4%,0.0%
23,NaN,9.2%,13.4%,5.6%,4.5%,12.3%,8.2%,8.7%,5.4%
24,NaN,12.0%,13.2%,27.8%,18.2%,13.3%,11.4%,12.1%,13.5%
25,NaN,1.4%,2.8%,0.0%,0.0%,1.6%,1.0%,1.5%,3.4%
26,NaN,1.1%,1.3%,0.0%,1.5%,0.9%,1.2%,0.9%,0.7%
27,MEAN STARTING SALARY,"$37,820",NA,NA,"$44,967","$37,920","$36,576","$38,275","$36,993"

              Unnamed: 0       14  14.01    14.02    14.03    14.04    14.05
0                    NaN   39,662  4,194    1,210      161      190    1,952
1                    NaN    75.5%  81.1%    73.6%    73.9%    91.0%    79.0%
2                    NaN    86.2%  82.4%    82.1%    88.1%    94.2%    87.4%
3                    NaN    65.8%  64.6%    52.3%    70.6%    64.7%    51.5%
4                    NaN    64.3%  63.5%    51.9%    67.2%    64.7%    49.9%
5                    NaN     1.6%   1.1%     0.4%     3.4%     0.0%     1.6%
6                    NaN    62.5%  62.9%    49.8%    66.4%    61.9%    45.0%
7                    NaN    61.4%  62.0%    49.6%    63.9%    61.9%    44.1%
8                    NaN     1.1%   0.9%     0.2%     2.5%     0.0%     0.8%
9                    NaN     0.7%   0.6%     0.6%     0.8%     0.0%     0.4%
10                   NaN     0.6%   0.5%     0.4%     0.8%     0.0%     0.4%
11                   NaN     0.1%   0.0%     0.1%     0.0%     0.0%     0.0%
12                   NaN     1.1%   0.4%     0.4%     1.7%     0.0%     3.0%
13                   NaN     0.9%   0.4%     0.4%     0.8%     0.0%     2.7%
14                   NaN     0.2%   0.1%     0.0%     0.8%     0.0%     0.4%
15                   NaN     0.2%   0.0%     0.2%     0.0%     0.6%     0.3%
16                   NaN     0.2%   0.0%     0.2%     0.0%     0.6%     0.1%
17                   NaN     0.0%   0.0%     0.0%     0.0%     0.0%     0.1%
18                   NaN     1.4%   0.7%     1.2%     1.7%     2.3%     2.9%
19                   NaN     1.2%   0.6%     1.1%     1.7%     2.3%     2.6%
20                   NaN     0.2%   0.1%     0.1%     0.0%     0.0%     0.3%
21                   NaN     0.2%   0.3%     0.1%     0.0%     0.0%     0.6%
22                   NaN     1.4%   1.2%     6.3%     3.4%     0.6%     0.2%
23                   NaN    18.0%  15.6%    22.7%    13.4%    27.7%    34.1%
24                   NaN    12.1%  16.1%    16.3%    10.9%     5.2%    10.2%
25                   NaN     1.5%   1.3%     1.5%     0.8%     0.6%     2.2%
26                   NaN     0.9%   0.9%     0.9%     0.8%     1.2%     1.2%
27  MEAN STARTING SALARY  $65,539     NA  $64,699  $56,141  $55,901  $58,436

,Unnamed: 0,14.07,14.08,14.09,14.10,14.11,14.12,14.13,14.14
0,NA,"3,907","3,754","2,202","5,689",37,213,195,494
1,NA,79.2%,74.2%,73.8%,72.1%,67.6%,74.2%,66.7%,84.6%
2,NaN,83.4%,91.4%,88.8%,87.8%,84.0%,86.5%,83.1%,84.2%
3,NaN,63.5%,71.3%,74.7%,64.1%,56.0%,43.7%,67.7%,58.1%
4,NaN,62.0%,70.1%,73.8%,62.4%,44.0%,41.1%,64.6%,56.2%
5,NaN,1.5%,1.2%,0.9%,1.8%,12.0%,2.5%,3.1%,1.9%
6,NaN,60.1%,68.5%,72.3%,60.4%,40.0%,43.0%,61.5%,54.1%
7,NaN,59.3%,67.6%,71.6%,59.1%,40.0%,40.5%,60.0%,52.2%
8,NaN,0.9%,0.9%,0.7%,1.3%,0.0%,2.5%,1.5%,1.9%
9,NaN,0.4%,0.6%,0.9%,1.1%,4.0%,0.6%,0.8%,0.2%
10,NaN,0.3%,0.5%,0.8%,1.0%,0.0%,0.6%,0.8%,0.2%
11,NaN,0.1%,0.1%,0.1%,0.1%,4.0%,0.0%,0.0%,0.0%
12,NaN,1.2%,1.0%,0.9%,1.2%,12.0%,0.0%,5.4%,0.2%
13,NaN,1.0%,0.9%,0.9%,0.9%,4.0%,0.0%,3.8%,0.2%
14,NaN,0.2%,0.1%,0.0%,0.3%,8.0%,0.0%,1.5%,0.0%
15,NaN,0.3%,0.1%,0.0%,0.2%,0.0%,0.0%,0.0%,0.2%
16,NaN,0.2%,0.1%,0.0%,0.2%,0.0%,0.0%,0.0%,0.2%
17,NaN,0.1%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
18,NaN,1.6%,1.0%,0.6%,1.3%,0.0%,0.0%,0.0%,3.3%
19,NaN,1.3%,0.9%,0.6%,1.2%,0.0%,0.0%,0.0%,3.3%
20,NaN,0.3%,0.1%,0.1%,0.1%,0.0%,0.0%,0.0%,0.0%
21,NaN,0.3%,0.2%,0.2%,0.0%,0.0%,0.6%,0.0%,1.0%
22,NaN,0.7%,1.1%,0.7%,0.9%,4.0%,0.6%,0.0%,1.2%
23,NaN,18.0%,18.2%,12.6%,22.1%,24.0%,39.9%,15.4%,22.5%
24,NaN,15.2%,7.8%,10.0%,10.5%,12.0%,10.8%,13.8%,12.9%
25,NaN,1.2%,0.8%,1.2%,1.7%,4.0%,2.5%,3.1%,2.6%
26,NaN,0.9%,0.6%,0.7%,0.8%,0.0%,1.9%,0.0%,1.7%
27,MEAN STARTING SALARY,"$66,490","$57,495","$74,439","$72,930",NA,"$56,589","$57,306","$56,785"

,Unnamed: 0,14.18,14.19,14.20,14.21,14.22,14.23,14.25,14.27
0,NA,326,"9,576",78,173,220,139,495,161
1,NA,75.2%,74.4%,85.9%,72.8%,65.0%,84.9%,89.7%,74.5%
2,NaN,87.3%,86.5%,88.1%,81.3%,83.9%,82.2%,79.2%,88.3%
3,NaN,58.4%,69.0%,68.7%,65.1%,76.2%,38.1%,63.1%,73.3%
4,NaN,57.6%,67.3%,68.7%,63.5%,74.8%,38.1%,58.8%,69.2%
5,NaN,0.8%,1.7%,0.0%,1.6%,1.4%,0.0%,4.3%,4.2%
6,NaN,50.6%,65.7%,67.2%,61.1%,76.2%,37.3%,61.3%,63.3%
7,NaN,50.6%,64.6%,67.2%,60.3%,74.8%,37.3%,57.0%,61.7%
8,NaN,0.0%,1.2%,0.0%,0.8%,1.4%,0.0%,4.3%,1.7%
9,NaN,2.0%,0.7%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
10,NaN,2.0%,0.7%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
11,NaN,0.0%,0.1%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
12,NaN,2.0%,1.1%,1.5%,0.0%,0.0%,0.0%,0.9%,4.2%
13,NaN,1.2%,0.8%,1.5%,0.0%,0.0%,0.0%,0.9%,3.3%
14,NaN,0.8%,0.2%,0.0%,0.0%,0.0%,0.0%,0.0%,0.8%
15,NaN,0.0%,0.1%,0.0%,0.0%,0.0%,0.0%,0.2%,0.8%
16,NaN,0.0%,0.1%,0.0%,0.0%,0.0%,0.0%,0.2%,0.8%
17,NaN,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
18,NaN,3.7%,1.4%,0.0%,4.0%,0.0%,0.8%,0.7%,5.0%
19,NaN,3.7%,1.2%,0.0%,3.2%,0.0%,0.8%,0.7%,3.3%
20,NaN,0.0%,0.2%,0.0%,0.8%,0.0%,0.0%,0.0%,1.7%
21,NaN,0.0%,0.2%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
22,NaN,0.8%,1.9%,1.5%,5.6%,4.2%,3.4%,1.1%,3.3%
23,NaN,27.8%,14.4%,17.9%,8.7%,3.5%,40.7%,14.6%,11.7%
24,NaN,9.4%,12.3%,10.4%,15.1%,4.2%,13.6%,19.8%,10.8%
25,NaN,3.3%,1.1%,1.5%,3.2%,11.9%,4.2%,0.9%,0.8%
26,NaN,0.4%,1.1%,0.0%,2.4%,0.0%,0.0%,0.5%,0.0%
27,MEAN STARTING SALARY,"$68,449","$63,070","$63,744","$63,370",NA,"$59,122","$73,084","$69,432"

              Unnamed: 0    14.33    14.35    14.36   14.37    14.39
0                     NA      170    1,958      101      73       58
1                     NA    67.6%    72.3%    44.6%  100.0%    72.4%
2                    NaN    94.8%    90.4%    88.9%   95.9%    76.2%
3                    NaN    84.3%    75.7%    82.2%   94.5%    64.3%
4                    NaN    84.3%    74.1%    82.2%   93.2%    54.8%
5                    NaN     0.0%     1.6%     0.0%    1.4%     9.5%
6                    NaN    81.7%    72.5%    75.6%   87.7%    54.8%
7                    NaN    81.7%    71.6%    75.6%   86.3%    47.6%
8                    NaN     0.0%     0.9%     0.0%    1.4%     7.1%
9                    NaN     1.7%     0.6%     2.2%    2.7%     0.0%
10                   NaN     1.7%     0.6%     2.2%    2.7%     0.0%
11                   NaN     0.0%     0.1%     0.0%    0.0%     0.0%
12                   NaN     0.0%     1.1%     2.2%    0.0%     2.4%
13                   NaN     0.0%     0.9%     2.2%    0.0%     0.0%
14                   NaN     0.0%     0.2%     0.0%    0.0%     2.4%
15                   NaN     0.0%     0.3%     2.2%    1.4%     0.0%
16                   NaN     0.0%     0.3%     2.2%    1.4%     0.0%
17                   NaN     0.0%     0.0%     0.0%    0.0%     0.0%
18                   NaN     0.9%     1.1%     0.0%    2.7%     7.1%
19                   NaN     0.9%     0.8%     0.0%    2.7%     7.1%
20                   NaN     0.0%     0.4%     0.0%    0.0%     0.0%
21                   NaN     0.0%     0.1%     0.0%    0.0%     0.0%
22                   NaN     6.1%     1.8%     0.0%    0.0%     2.4%
23                   NaN     4.3%    11.8%     6.7%    1.4%     9.5%
24                   NaN     2.6%     8.2%    11.1%    4.1%    23.8%
25                   NaN     2.6%     1.3%     0.0%    0.0%     0.0%
26                   NaN     0.0%     1.1%     0.0%    0.0%     0.0%
27  MEAN STARTING SALARY  $60,311  $64,904  $64,630      NA  $58,863

              Unnamed: 0    14.18    14.27
0                    NaN      119     1005
1                    NaN    73.9%    74.4%
2                    NaN    90.6%    76.2%
3                    NaN    72.7%    47.7%
4                    NaN    65.9%    45.6%
5                    NaN     6.8%     2.1%
6                    NaN    69.3%    42.5%
7                    NaN    64.8%    40.9%
8                    NaN     4.5%     1.6%
9                    NaN     0.0%     0.9%
10                   NaN     0.0%     0.9%
11                   NaN     0.0%     0.0%
12                   NaN     1.1%     2.4%
13                   NaN     0.0%     2.0%
14                   NaN     1.1%     0.4%
15                   NaN     0.0%     0.3%
16                   NaN     0.0%     0.3%
17                   NaN     0.0%     0.0%
18                   NaN     2.3%     1.6%
19                   NaN     1.1%     1.5%
20                   NaN     1.1%     0.1%
21                   NaN     1.1%     0.1%
22                   NaN     0.0%     0.1%
23                   NaN    13.6%    27.4%
24                   NaN     6.8%    15.9%
25                   NaN     2.3%     7.6%
26                   NaN     3.4%     1.1%
27  MEAN STARTING SALARY  $66,519  $56,845

,Unnamed: 0,15,15.00,15.02,15.03,15.05,15.06
0,TOTAL GRADUATES,"2,512",251,111,491,30,284
1,KNOWLEDGE RATE,69.4%,55.8%,81.1%,66.0%,50.0%,71.1%
2,CAREER OUTCOMES PERCENTAGE,89.9%,88.3%,96.6%,89.3%,53.3%,91.0%
3,PERCENT EMPLOYED OVERALL,81.9%,79.3%,94.4%,79.6%,53.3%,83.2%
4,Percent Employed Full-time,79.5%,75.7%,93.3%,78.1%,46.7%,81.2%
5,Percent Employed Part-time,2.4%,3.6%,1.1%,1.5%,6.7%,2.0%
6,Percent Standard Employment,77.0%,76.4%,92.2%,76.9%,46.7%,81.2%
7,Percent Standard Employment Full-time,75.3%,72.9%,91.1%,75.3%,40.0%,79.7%
8,Percent Standard Employment Part-time,1.7%,3.6%,1.1%,1.5%,6.7%,1.5%
9,Percent Entrepreneur,1.3%,0.0%,1.1%,1.2%,0.0%,1.5%
10,Percent Entrepreneur Full-time,1.2%,0.0%,1.1%,1.2%,0.0%,1.5%
11,Percent Entrepreneur Part-time,0.1%,0.0%,0.0%,0.0%,0.0%,0.0%
12,Percent Temp/Contract Employee,1.8%,0.7%,1.1%,1.2%,0.0%,0.5%
13,Percent Temp/Contract Employee Full-time,1.3%,0.7%,1.1%,1.2%,0.0%,0.0%
14,Percent Temp/Contract Employee Part-time,0.5%,0.0%,0.0%,0.0%,0.0%,0.5%
15,Percent Freelance,0.6%,0.0%,0.0%,0.0%,0.0%,0.0%
16,Percent Freelance Full-time,0.5%,0.0%,0.0%,0.0%,0.0%,0.0%
17,Percent Freelance Part-time,0.1%,0.0%,0.0%,0.0%,0.0%,0.0%
18,Percent Post-Grad Fellowship/Internship,1.2%,2.1%,0.0%,0.3%,6.7%,0.0%
19,Percent Post-Grad Fellowship/Internship Full-time,1.1%,2.1%,0.0%,0.3%,6.7%,0.0%
20,Percent Post-Grad Fellowship/Internship Part-time,0.1%,0.0%,0.0%,0.0%,0.0%,0.0%
21,PERCENT SERVICE,0.2%,0.0%,0.0%,0.0%,0.0%,0.0%
22,PERCENT MILITARY,1.5%,0.7%,0.0%,1.2%,0.0%,2.0%
23,PERCENT CONTINUING EDUCATION,5.0%,6.4%,1.1%,6.8%,0.0%,5.0%
24,PERCENT SEEKING EMPLOYMENT,9.5%,11.4%,2.2%,10.5%,40.0%,8.4%
25,PERCENT SEEKING CONTINUING EDUCATION,0.4%,0.0%,1.1%,0.0%,6.7%,0.5%
26,NOT SEEKING,1.5%,2.1%,1.1%,1.9%,0.0%,1.0%
27,MEAN STARTING SALARY,"$58,104",NA,"$52,583","$60,112","$57,002","$61,506"

,Unnamed: 0,15.12,15.15,15.08,15.10
0,TOTAL GRADUATES,40,557,897,117
1,KNOWLEDGE RATE,57.5%,75.2%,68.8%,74.4%
2,CAREER OUTCOMES PERCENTAGE,95.7%,89.4%,84.8%,97.6%
3,PERCENT EMPLOYED OVERALL,91.3%,79.5%,79.1%,94.3%
4,Percent Employed Full-time,91.3%,78.5%,76.5%,92.0%
5,Percent Employed Part-time,0.0%,1.0%,2.6%,2.3%
6,Percent Standard Employment,87.0%,76.8%,76.2%,92.0%
7,Percent Standard Employment Full-time,87.0%,76.1%,74.4%,89.7%
8,Percent Standard Employment Part-time,0.0%,0.7%,1.8%,2.3%
9,Percent Entrepreneur,4.3%,0.7%,1.0%,1.1%
10,TECHNOLOGIES/Percent Entrepreneur Full-time,4.3%,0.7%,0.8%,1.1%
11,Percent Entrepreneur Part-time,0.0%,0.0%,0.2%,0.0%
12,Percent Temp/Contract Employee,0.0%,1.2%,1.3%,1.1%
13,Percent Temp/Contract Employee Full-time,0.0%,1.0%,0.8%,1.1%
14,Percent Temp/Contract Employee Part-time,0.0%,0.2%,0.5%,0.0%
15,Percent Freelance,0.0%,0.2%,0.2%,0.0%
16,Percent Freelance Full-time,0.0%,0.2%,0.0%,0.0%
17,Percent Freelance Part-time,0.0%,0.0%,0.2%,0.0%
18,Percent Post-Grad Fellowship/Internship,0.0%,0.5%,0.5%,0.0%
19,Percent Post-Grad Fellowship/Internship Full-time,0.0%,0.5%,0.5%,0.0%
20,Percent Post-Grad Fellowship/Internship Part-time,0.0%,0.0%,0.0%,0.0%
21,PERCENT SERVICE,0.0%,0.5%,0.0%,0.0%
22,PERCENT MILITARY,4.3%,1.2%,1.6%,0.0%
23,PERCENT CONTINUING EDUCATION,0.0%,7.4%,2.6%,1.1%
24,PERCENT SEEKING EMPLOYMENT,4.3%,9.8%,14.4%,2.3%
25,PERCENT SEEKING CONTINUING EDUCATION,0.0%,0.7%,0.5%,0.0%
26,NOT SEEKING,0.0%,1.0%,1.8%,2.3%
27,MEAN STARTING SALARY,"$78,151","$61,441","$61,141","$56,857"

,Unnamed: 0,16,16.01,16.03,16.04,16.05,16.09,16.11,16.12,16.16
0,TOTAL GRADUATES,"5,011","1,446",331,66,208,"2,515",46,357,"LIN2G4U5ISTIC, COMPARATIVE,"
1,KNOWLEDGE RATE,62.1%,62.2%,53.8%,63.6%,58.7%,66.2%,67.4%,65.3%,A4N6D.9 R%ELATED LANGUAGE STUDIES AND SERVICES
2,CAREER OUTCOMES PERCENTAGE,79.2%,72.7%,73.4%,76.2%,85.1%,80.5%,80.0%,79.4%,66.4%
3,PERCENT EMPLOYED OVERALL,51.6%,45.7%,53.4%,45.2%,54.9%,53.4%,64.5%,44.9%,"L4I2T.E6R%ATURES, AND"
4,Percent Employed Full-time,43.3%,38.3%,44.9%,38.1%,49.2%,44.6%,54.8%,36.1%,L3I4N.G8U%ISTICS
5,Percent Employed Part-time,8.3%,7.5%,8.4%,7.1%,5.7%,8.8%,9.7%,9.0%,"SL7A.8V%IC, BALTIC AND ALBANIAN LANGUAGES,"
6,Percent Standard Employment,43.4%,37.6%,41.6%,31.0%,48.4%,45.7%,51.6%,39.1%,"L3I5T.E7R%ATURES, AND"
7,Percent Standard Employment Full-time,37.6%,32.1%,35.4%,28.6%,44.3%,39.4%,45.2%,31.3%,31.3%
8,Percent Standard Employment Part-time,5.9%,5.5%,6.2%,2.4%,4.1%,6.3%,6.5%,7.7%,"LI4T.E3R%ATURES, AND"
9,Percent Entrepreneur,1.0%,1.1%,0.6%,0.0%,0.0%,0.6%,0.0%,0.4%,0.0%
10,Percent Entrepreneur Full-time,0.8%,0.9%,0.6%,0.0%,0.0%,0.6%,0.0%,0.4%,"RO0M.0A%NCE LANGUAGES,"
11,Percent Entrepreneur Part-time,0.2%,0.2%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,LI0N.G0U%ISTICS
12,Percent Temp/Contract Employee,3.2%,3.3%,5.1%,4.8%,1.6%,3.2%,9.7%,3.4%,M0ID.9D%LE/NEAR EASTERN
13,Percent Temp/Contract Employee Full-time,2.0%,2.0%,4.5%,2.4%,0.8%,1.9%,6.5%,2.1%,"LI0T.E0R%ATURES, AND"
14,Percent Temp/Contract Employee Part-time,1.2%,1.3%,0.6%,2.4%,0.8%,1.3%,3.2%,1.3%,0.9%
15,Percent Freelance,0.9%,0.9%,1.1%,0.0%,1.6%,0.4%,0.0%,0.4%,"LA4N.3G%UAGES, LITERATURES,"
16,Percent Freelance Full-time,0.4%,0.6%,0.6%,0.0%,1.6%,0.2%,0.0%,0.4%,AN1D.7 L%INGUISTICS
17,Percent Freelance Part-time,0.4%,0.3%,0.6%,0.0%,0.0%,0.2%,0.0%,0.0%,2.6%
18,Percent Post-Grad Fellowship/Internship,3.1%,2.8%,5.1%,9.5%,3.3%,3.5%,3.2%,1.7%,1.7%
19,Percent Post-Grad Fellowship/Internship Full-time,2.5%,2.7%,3.9%,7.1%,2.5%,2.5%,3.2%,1.7%,1.7%
20,Percent Post-Grad Fellowship/Internship Part-time,0.6%,0.1%,1.1%,2.4%,0.8%,1.0%,0.0%,0.0%,0.0%
21,PERCENT SERVICE,3.0%,2.3%,1.1%,0.0%,1.6%,4.5%,6.5%,2.6%,2.6%
22,PERCENT MILITARY,0.7%,0.7%,1.1%,0.0%,0.0%,0.5%,3.2%,0.4%,0.0%
23,PERCENT CONTINUING EDUCATION,22.0%,21.4%,15.7%,31.0%,27.9%,20.4%,3.2%,31.3%,20.0%
24,PERCENT SEEKING EMPLOYMENT,12.8%,13.3%,19.7%,19.0%,10.7%,11.7%,16.1%,14.6%,20.9%
25,PERCENT SEEKING CONTINUING EDUCATION,7.5%,13.0%,6.2%,4.8%,4.1%,7.3%,3.2%,6.0%,12.2%
26,NOT SEEKING,2.4%,3.6%,2.8%,0.0%,0.8%,2.2%,3.2%,0.4%,1.7%
27,MEAN STARTING SALARY,"$37,715","$37,386","$39,897","$40,988","$38,152","$38,995","$44,875","$37,429","$33,702"

,Unnamed: 0,19.02,19.05,19.06,19.07,19.09,19,19.01
0,TOTAL GRADUATES,198,476,215,"3,866",273,"5,571",543
1,KNOWLEDGE RATE,73.2%,67.9%,54.4%,59.1%,82.4%,61.7%,63.0%
2,FAMILY AND CONSUMER CAREER OUTCOMES PERCENTAGE,79.9%,76.9%,83.5%,79.0%,SCIENC8E4S.4/H%UMAN,79.4%,80.0%
3,PERCENT EMPLOYED OVERALL,66.2%,29.7%,75.2%,50.7%,"SCIENC7E8S.7, G%ENERAL",53.2%,62.9%
4,Percent Employed Full-time,60.7%,27.2%,70.9%,44.0%,72.4%,47.0%,56.1%
5,Percent Employed Part-time,5.5%,2.5%,4.3%,6.8%,FAMILY A6N.2D% CONSUMER SCIENCES/HUMAN,6.2%,6.7%
6,Percent Standard Employment,50.3%,29.1%,68.4%,44.5%,"SCIENC6E6S.2, B%USINESS",47.0%,59.1%
7,Percent Standard Employment Full-time,46.9%,26.9%,64.1%,39.1%,62.2%,42.0%,53.2%
8,Percent Standard Employment Part-time,3.4%,2.2%,4.3%,5.5%,4.0%,5.0%,5.8%
9,Percent Entrepreneur,1.4%,0.3%,1.7%,0.9%,RELATED2 .S7E%RVICES,1.1%,1.8%
10,Percent Entrepreneur Full-time,1.4%,0.3%,1.7%,0.7%,2.2%,0.9%,1.5%
11,Percent Entrepreneur Part-time,0.0%,0.0%,0.0%,0.2%,0.4%,0.2%,0.3%
12,Percent Temp/Contract Employee,1.4%,0.0%,3.4%,3.2%,HOUSIN6G. A2N%D HUMAN,2.9%,1.5%
13,Percent Temp/Contract Employee Full-time,0.7%,0.0%,3.4%,2.5%,4.9%,2.2%,0.9%
14,Percent Temp/Contract Employee Part-time,0.7%,0.0%,0.0%,0.8%,1.3%,0.7%,0.6%
15,Percent Freelance,1.4%,0.0%,0.0%,0.5%,"HUMAN 0D.E9V%ELOPMENT,",0.5%,0.3%
16,Percent Freelance Full-time,0.7%,0.0%,0.0%,0.4%,RELATED0 .S9E%RVICES,0.3%,0.3%
17,Percent Freelance Part-time,0.7%,0.0%,0.0%,0.1%,0.0%,0.1%,0.0%
18,Percent Post-Grad Fellowship/Internship,11.7%,0.3%,1.7%,1.6%,2.7%,1.8%,0.3%
19,Percent Post-Grad Fellowship/Internship Full-time,11.0%,0.0%,1.7%,1.4%,APPARE2L .&2 %TEXTILES,1.6%,0.3%
20,Percent Post-Grad Fellowship/Internship Part-time,0.7%,0.3%,0.0%,0.2%,0.4%,0.2%,0.0%
21,PERCENT SERVICE,0.7%,1.2%,0.9%,2.2%,0.9%,1.7%,0.3%
22,PERCENT MILITARY,0.0%,1.5%,0.0%,0.2%,0.0%,0.4%,0.9%
23,PERCENT CONTINUING EDUCATION,12.4%,43.7%,6.0%,24.3%,4.9%,22.6%,13.2%
24,PERCENT SEEKING EMPLOYMENT,16.6%,13.9%,12.8%,14.0%,14.7%,13.9%,12.0%
25,PERCENT SEEKING CONTINUING EDUCATION,3.4%,9.0%,3.4%,6.6%,0.9%,6.3%,7.3%
26,NOT SEEKING,0.7%,0.9%,1.7%,2.1%,0.0%,1.9%,3.5%
27,MEAN STARTING SALARY,"$47,056","$34,273","$39,449","$31,590","$39,718","$34,539","$37,918"

                      22    22.00  22.03 Unnamed: 0
0                    NaN      998    861        136
1                    NaN    67.6%  65.7%      80.1%
2                    NaN    77.6%  76.6%      82.6%
3                    NaN    57.9%  54.8%      74.3%
4                    NaN    51.4%  47.7%      70.6%
5                    NaN     6.5%   7.1%       3.7%
6                    NaN    54.7%  50.9%      74.3%
7                    NaN    48.7%  44.5%      70.6%
8                    NaN     5.9%   6.4%       3.7%
9                    NaN     0.3%   0.4%       0.0%
10                   NaN     0.3%   0.4%       0.0%
11                   NaN     0.0%   0.0%       0.0%
12                   NaN     1.5%   1.8%       0.0%
13                   NaN     1.2%   1.4%       0.0%
14                   NaN     0.3%   0.4%       0.0%
15                   NaN     0.1%   0.2%       0.0%
16                   NaN     0.0%   0.0%       0.0%
17                   NaN     0.1%   0.2%       0.0%
18                   NaN     1.3%   1.6%       0.0%
19                   NaN     1.2%   1.4%       0.0%
20                   NaN     0.1%   0.2%       0.0%
21                   NaN     1.2%   1.4%       0.0%
22                   NaN     1.3%   1.6%       0.0%
23                   NaN    15.9%  17.3%       8.3%
24                   NaN     8.7%   9.0%       7.3%
25                   NaN    13.3%  14.0%      10.1%
26                   NaN     1.6%   1.9%       0.0%
27  MEAN STARTING SALARY  $40,199     NA         NA

              Unnamed: 0       23    23.01    23.13    23.14
0                    NaN    9,210    7,705    1,891      300
1                    NaN    65.4%    63.4%    70.5%    53.7%
2                    NaN    80.6%    80.1%    73.1%    88.9%
3                    NaN    57.8%    58.4%    54.9%    62.7%
4                    NaN    46.6%    48.5%    43.0%    51.6%
5                    NaN    11.3%     9.9%    11.9%    11.2%
6                    NaN    48.9%    50.3%    45.7%    52.2%
7                    NaN    41.0%    42.5%    38.1%    45.3%
8                    NaN     7.9%     7.8%     7.6%     6.8%
9                    NaN     0.7%     1.1%     0.7%     1.2%
10                   NaN     0.5%     0.9%     0.5%     0.6%
11                   NaN     0.1%     0.2%     0.1%     0.6%
12                   NaN     3.5%     2.9%     3.4%     5.6%
13                   NaN     2.1%     2.0%     1.9%     3.1%
14                   NaN     1.4%     0.9%     1.5%     2.5%
15                   NaN     2.1%     0.9%     2.6%     1.2%
16                   NaN     0.8%     0.4%     0.4%     0.6%
17                   NaN     1.3%     0.5%     2.2%     0.6%
18                   NaN     2.7%     3.1%     2.5%     2.5%
19                   NaN     2.2%     2.6%     2.1%     1.9%
20                   NaN     0.5%     0.5%     0.4%     0.6%
21                   NaN     1.8%     1.8%     1.3%     0.0%
22                   NaN     0.2%     0.2%     0.1%     0.6%
23                   NaN    19.1%    18.1%    14.8%    21.1%
24                   NaN    14.2%    14.6%    20.8%     8.7%
25                   NaN     4.7%     5.0%     5.4%     1.9%
26                   NaN     2.1%     1.9%     2.5%     5.0%
27  MEAN STARTING SALARY  $37,825  $36,310  $37,159  $35,438

              Unnamed: 0       26    26.01    26.02  26.03    26.04    26.05
0                    NaN   27,369   16,761    3,991     61    1,294      858
1                    NaN    63.5%    64.8%    61.5%  70.5%    50.2%    54.8%
2                    NaN    79.4%    76.6%    76.7%  76.7%    79.1%    76.7%
3                    NaN    40.7%    40.2%    38.1%  58.1%    47.0%    39.4%
4                    NaN    34.4%    34.8%    32.5%  53.5%    38.4%    33.6%
5                    NaN     6.2%     5.5%     5.5%   4.7%     8.6%     5.7%
6                    NaN    34.9%    35.7%    32.0%  46.5%    41.1%    31.3%
7                    NaN    30.0%    31.2%    27.9%  41.9%    34.4%    27.4%
8                    NaN     4.9%     4.5%     4.1%   4.7%     6.8%     3.8%
9                    NaN     0.4%     0.4%     0.6%   2.3%     0.5%     0.0%
10                   NaN     0.3%     0.3%     0.4%   2.3%     0.3%     0.0%
11                   NaN     0.0%     0.1%     0.1%   0.0%     0.2%     0.0%
12                   NaN     2.8%     2.2%     2.8%   4.7%     2.8%     4.9%
13                   NaN     2.0%     1.6%     2.0%   4.7%     2.0%     3.0%
14                   NaN     0.8%     0.6%     0.9%   0.0%     0.8%     1.9%
15                   NaN     0.5%     0.1%     0.2%   2.3%     0.2%     0.4%
16                   NaN     0.2%     0.1%     0.1%   2.3%     0.0%     0.4%
17                   NaN     0.2%     0.0%     0.1%   0.0%     0.2%     0.0%
18                   NaN     2.2%     1.8%     2.5%   2.3%     2.5%     2.8%
19                   NaN     2.0%     1.6%     2.1%   2.3%     1.7%     2.8%
20                   NaN     0.2%     0.2%     0.4%   0.0%     0.8%     0.0%
21                   NaN     1.4%     1.3%     1.1%   2.3%     0.9%     0.6%
22                   NaN     0.5%     0.4%     0.6%   4.7%     0.3%     0.6%
23                   NaN    35.3%    33.4%    35.5%  11.6%    30.5%    35.1%
24                   NaN     9.1%    10.4%    10.2%  20.9%     5.7%    14.0%
25                   NaN    11.1%    12.7%    12.7%   2.3%    15.1%     8.9%
26                   NaN     2.0%     1.6%     1.8%   0.0%     0.5%     1.3%
27  MEAN STARTING SALARY  $36,401  $34,171  $37,889     NA  $38,664  $35,297

,Unnamed: 0,26.07,26.08,26.09,26.10,26.11,26.12,26.13,26.15
0,TOTAL GRADUATES,529,271,"1,962",66,90,150,792,"2,285"
1,KNOWLEDGE RATE,60.7%,48.7%,65.4%,21.2%,88.9%,74.7%,60.4%,67.2%
2,CAREER OUTCOMES PERCENTAGE,81.6%,79.4%,71.8%,42.9%,68.8%,83.9%,78.4%,82.4%GENETICS
3,PERCENT EMPLOYED OVERALL,46.7%,53.8%,34.2%,21.4%,40.0%,54.5%,55.2%,44.5%
4,Percent Employed Full-time,36.8%,49.2%,28.4%,21.4%,38.8%,50.0%,46.9%,"39.0%PHYSIOLOGY,"
5,Percent Employed Part-time,10.0%,4.5%,5.8%,0.0%,1.3%,4.5%,8.4%,5.5%RELATED SCIENCES
6,Percent Standard Employment,37.1%,48.5%,30.0%,21.4%,38.8%,49.1%,37.7%,38.7%
7,Percent Standard Employment Full-time,28.3%,44.7%,25.8%,21.4%,37.5%,45.5%,33.3%,34.0%PHARMACOLOGY
8,Percent Standard Employment Part-time,8.7%,3.8%,4.2%,0.0%,1.3%,3.6%,4.4%,4.6%
9,Percent Entrepreneur,0.3%,1.5%,0.3%,0.0%,0.0%,1.8%,1.0%,"0.2%BIOMATHEMATICS,"
10,Percent Entrepreneur Full-time,0.3%,1.5%,0.2%,0.0%,0.0%,0.9%,1.0%,0.2%AND
11,Percent Entrepreneur Part-time,0.0%,0.0%,0.1%,0.0%,0.0%,0.9%,0.0%,0.0%COMPUTATIONAL BIOLOGY
12,Percent Temp/Contract Employee,3.4%,0.8%,2.5%,0.0%,0.0%,3.6%,7.5%,2.7%
13,Percent Temp/Contract Employee Full-time,3.1%,0.0%,1.2%,0.0%,0.0%,3.6%,4.0%,2.2%BIOTECHNOLOGY
14,Percent Temp/Contract Employee Part-time,0.3%,0.8%,1.2%,0.0%,0.0%,0.0%,3.6%,0.5%
15,Percent Freelance,0.0%,0.0%,0.2%,0.0%,0.0%,0.0%,0.8%,"0.2%ECOLOGY, EVOLUTION,"
16,Percent Freelance Full-time,0.0%,0.0%,0.2%,0.0%,0.0%,0.0%,0.6%,"0.1%SYSTEMATICS,"
17,Percent Freelance Part-time,0.0%,0.0%,0.1%,0.0%,0.0%,0.0%,0.2%,0.1%BIOLOGY
18,Percent Post-Grad Fellowship/Internship,5.9%,3.0%,1.2%,0.0%,1.3%,0.0%,8.2%,2.7%
19,Percent Post-Grad Fellowship/Internship Full-time,5.0%,3.0%,1.0%,0.0%,1.3%,0.0%,7.9%,2.4%NEUROSCIENCES
20,Percent Post-Grad Fellowship/Internship Part-time,0.9%,0.0%,0.2%,0.0%,0.0%,0.0%,0.2%,0.3%
21,PERCENT SERVICE,1.6%,0.8%,0.5%,0.0%,1.3%,0.0%,2.9%,1.3%
22,PERCENT MILITARY,0.0%,0.0%,0.8%,0.0%,0.0%,0.9%,0.2%,0.3%
23,PERCENT CONTINUING EDUCATION,30.5%,24.2%,34.3%,21.4%,25.0%,28.6%,18.2%,35.0%
24,PERCENT SEEKING EMPLOYMENT,13.4%,9.1%,10.4%,28.6%,22.5%,11.6%,11.7%,8.5%
25,PERCENT SEEKING CONTINUING EDUCATION,4.4%,11.4%,17.1%,28.6%,7.5%,4.5%,9.4%,8.9%
26,NOT SEEKING,3.4%,0.8%,2.8%,0.0%,3.8%,0.0%,2.3%,1.5%
27,MEAN STARTING SALARY,"$29,951","$36,868","$30,470",NA,"$47,682","$47,582","$39,898","$40,372"

              Unnamed: 0       27    27.01    27.03    27.05
0                    NaN    6,653    3,755    2,023      829
1                    NaN    62.3%    66.4%    54.3%    62.6%
2                    NaN    84.9%    84.7%    82.5%    89.9%
3                    NaN    52.7%    52.1%    51.5%    56.3%
4                    NaN    48.1%    48.0%    45.0%    53.2%
5                    NaN     4.6%     4.1%     6.5%     3.1%
6                    NaN    48.4%    48.5%    46.1%    50.7%
7                    NaN    44.8%    44.9%    41.6%    49.3%
8                    NaN     3.5%     3.6%     4.5%     1.3%
9                    NaN     0.7%     0.5%     0.9%     1.0%
10                   NaN     0.6%     0.5%     0.7%     0.8%
11                   NaN     0.1%     0.0%     0.2%     0.2%
12                   NaN     1.5%     1.4%     1.9%     1.7%
13                   NaN     1.1%     1.1%     1.3%     1.0%
14                   NaN     0.4%     0.3%     0.6%     0.8%
15                   NaN     0.3%     0.1%     0.7%     0.4%
16                   NaN     0.1%     0.0%     0.1%     0.2%
17                   NaN     0.2%     0.0%     0.6%     0.2%
18                   NaN     1.8%     1.6%     1.8%     2.5%
19                   NaN     1.5%     1.4%     1.4%     1.9%
20                   NaN     0.3%     0.2%     0.5%     0.6%
21                   NaN     0.7%     0.9%     0.3%     0.4%
22                   NaN     0.5%     0.5%     0.7%     0.2%
23                   NaN    29.8%    29.8%    28.9%    32.6%
24                   NaN    11.1%    11.1%    13.3%     7.5%
25                   NaN     3.8%     3.9%     4.0%     2.5%
26                   NaN     1.4%     1.7%     1.3%     0.6%
27  MEAN STARTING SALARY  $60,631  $59,846  $62,817  $62,375

                      30    30.00    30.05    30.08    30.10 Unnamed: 0
0                    NaN   13,413    6,078       81      231        238
1                    NaN    57.0%    49.5%    70.4%    72.7%      42.9%
2                    NaN    80.8%    76.3%    91.1%    88.7%      86.0%
3                    NaN    51.8%    53.5%    54.4%    73.8%      54.9%
4                    NaN    44.8%    45.8%    47.4%    69.6%      52.0%
5                    NaN     7.0%     7.7%     7.0%     4.2%       2.9%
6                    NaN    44.5%    47.2%    42.1%    67.9%      44.1%
7                    NaN    39.3%    41.4%    36.8%    64.9%      44.1%
8                    NaN     5.2%     5.7%     5.3%     3.0%       0.0%
9                    NaN     1.1%     1.5%     1.8%     1.8%       1.0%
10                   NaN     0.8%     1.1%     1.8%     1.2%       1.0%
11                   NaN     0.2%     0.5%     0.0%     0.6%       0.0%
12                   NaN     3.4%     2.6%     3.5%     1.8%       4.9%
13                   NaN     2.3%     1.7%     3.5%     1.8%       2.9%
14                   NaN     1.1%     0.9%     0.0%     0.0%       2.0%
15                   NaN     0.3%     0.5%     0.0%     0.0%       0.0%
16                   NaN     0.2%     0.3%     0.0%     0.0%       0.0%
17                   NaN     0.1%     0.2%     0.0%     0.0%       0.0%
18                   NaN     2.5%     1.7%     7.0%     2.4%       4.9%
19                   NaN     2.1%     1.3%     5.3%     1.8%       3.9%
20                   NaN     0.4%     0.4%     1.8%     0.6%       1.0%
21                   NaN     1.9%     1.8%    10.5%     0.0%       3.9%
22                   NaN     1.0%     1.0%     0.0%     0.0%       1.0%
23                   NaN    24.3%    18.8%    24.6%    14.9%      24.5%
24                   NaN    14.3%    20.0%     7.0%    10.1%       8.8%
25                   NaN     4.4%     3.3%     1.8%     1.2%       4.9%
26                   NaN     2.3%     1.7%     1.8%     0.0%       2.0%
27  MEAN STARTING SALARY  $44,487  $44,438  $32,534  $67,745         NA

,Unnamed: 0,30.15,30.17,30.18,30.19,30.20,30.23,30.11,30.12
0,TOTAL GRADUATES,98,452,373,"1,913","2,479",61,29,173
1,KNOWLEDGE RATE,71.4%,76.3%,71.0%,61.3%,60.9%,90.2%,86.2%,83.8%
2,CAREER OUTCOMES PERCENTAGE,91.3%,93.9%,89.7%,80.1%,84.6%,86.8%,80.0%,87.9%
3,PERCENT EMPLOYED OVERALL,77.1%,35.7%,29.4%,44.9%,58.1%,63.6% PRESERVATION AND,52.0%,66.9%
4,Percent Employed Full-time,74.3%,30.7%,25.3%,37.5%,51.1%,50.9% CONSERVATION,44.0%,61.4%
5,Percent Employed Part-time,2.9%,4.9%,4.2%,7.4%,7.0%,"12.7% SCIENCE,",8.0%,5.5%
6,Percent Standard Employment,62.9%,34.2%,25.7%,39.5%,46.0%,50.9% TECHNOLOGY AND,52.0%,59.3%
7,Percent Standard Employment Full-time,60.0%,29.6%,22.6%,33.0%,41.7%,41.8%,44.0%,54.5%
8,Percent Standard Employment Part-time,2.9%,4.6%,3.0%,6.5%,4.2%,9.1% BEHAVIORAL,8.0%,4.8%
9,Percent Entrepreneur,2.9%,0.3%,1.1%,0.8%,0.5%,0.0% SCIENCES,0.0%,1.4%
10,Percent Entrepreneur Full-time,2.9%,0.3%,1.1%,0.8%,0.5%,0.0%,0.0%,1.4%
11,Percent Entrepreneur Part-time,0.0%,0.0%,0.0%,0.0%,0.0%,0.0% NATURAL SCIENCES,0.0%,0.0%
12,Percent Temp/Contract Employee,5.7%,1.2%,2.6%,2.6%,6.2%,12.7%,0.0%,0.7%
13,Percent Temp/Contract Employee Full-time,5.7%,0.9%,1.5%,1.8%,4.2%,9.1%,0.0%,0.7%
14,Percent Temp/Contract Employee Part-time,0.0%,0.3%,1.1%,0.9%,2.0%,3.6% SCIENCES,0.0%,0.0%
15,Percent Freelance,0.0%,0.0%,0.0%,0.1%,0.4%,0.0%,0.0%,0.0%
16,Percent Freelance Full-time,0.0%,0.0%,0.0%,0.1%,0.2%,0.0% INTERNATIONAL/,0.0%,0.0%
17,GLOBAL STUDIESPercent Freelance Part-time,0.0%,0.0%,0.0%,0.0%,0.2%,0.0%,0.0%,0.0%
18,Percent Post-Grad Fellowship/Internship,5.7%,0.0%,0.0%,2.0%,4.9%,0.0% INTERCULTURAL/,0.0%,5.5%
19,Percent Post-Grad Fellowship/Internship Full-time,5.7%,0.0%,0.0%,1.9%,4.4%,0.0% MULTICULTURAL AND DIVERSITY,0.0%,4.8%
20,Percent Post-Grad Fellowship/Internship Part-time,0.0%,0.0%,0.0%,0.1%,0.5%,0.0% STUDIES,0.0%,0.7%
21,PERCENT SERVICE,0.0%,0.6%,1.5%,0.9%,3.4%,5.5%,0.0%,0.7%
22,PERCENT MILITARY,0.0%,0.0%,0.0%,0.7%,2.5%,0.0%,0.0%,0.7%
23,PERCENT CONTINUING EDUCATION,12.9%,56.8%,57.4%,31.2%,17.5%,14.5%,28.0%,16.6%
24,PERCENT SEEKING EMPLOYMENT,8.6%,2.6%,6.4%,11.8%,12.4%,12.7%,4.0%,5.5%
25,PERCENT SEEKING CONTINUING EDUCATION,0.0%,3.5%,3.8%,7.5%,2.5%,0.0%,16.0%,6.2%
26,NOT SEEKING,1.4%,0.9%,1.5%,3.0%,3.6%,3.6%,0.0%,3.4%
27,MEAN STARTING SALARY,"$62,260","$30,397","$37,935","$40,325","$42,417","$30,676","$28,940",NA

              Unnamed: 0    30.25    30.27    30.32    30.33
0                    NaN      341      254       84      252
1                    NaN    73.6%    60.2%    75.0%    45.2%
2                    NaN    81.2%    61.5%    81.0%    76.8%
3                    NaN    39.8%    24.8%    50.8%    61.4%
4                    NaN    37.1%    17.0%    44.4%    49.1%
5                    NaN     2.8%     7.8%     6.3%    12.3%
6                    NaN    31.1%    19.0%    44.4%    57.9%
7                    NaN    29.1%    13.7%    41.3%    48.2%
8                    NaN     2.0%     5.2%     3.2%     9.6%
9                    NaN     0.8%     0.7%     0.0%     1.8%
10                   NaN     0.8%     0.0%     0.0%     0.0%
11                   NaN     0.0%     0.7%     0.0%     1.8%
12                   NaN     4.0%     3.9%     1.6%     0.0%
13                   NaN     3.2%     2.0%     1.6%     0.0%
14                   NaN     0.8%     2.0%     0.0%     0.0%
15                   NaN     0.4%     0.0%     0.0%     0.9%
16                   NaN     0.4%     0.0%     0.0%     0.0%
17                   NaN     0.0%     0.0%     0.0%     0.9%
18                   NaN     3.6%     1.3%     4.8%     0.9%
19                   NaN     3.6%     1.3%     1.6%     0.9%
20                   NaN     0.0%     0.0%     3.2%     0.0%
21                   NaN     2.0%     0.0%     6.3%     1.8%
22                   NaN     0.0%     0.0%     1.6%     0.0%
23                   NaN    37.5%    34.6%    22.2%    12.3%
24                   NaN     9.6%    14.4%    12.7%    17.5%
25                   NaN     8.8%    22.9%     6.3%     5.3%
26                   NaN     2.4%     3.3%     0.0%     1.8%
27  MEAN STARTING SALARY  $74,400  $33,058  $38,889  $36,462

              Unnamed: 0       31    31.01    31.03    31.05
0                    NaN   11,922      496      507   10,876
1                    NaN    61.8%    50.6%    60.2%    62.3%
2                    NaN    81.6%    87.9%    86.5%    81.2%
3                    NaN    53.4%    75.7%    72.5%    51.6%
4                    NaN    44.2%    64.1%    63.9%    42.5%
5                    NaN     9.1%    11.6%     8.5%     9.1%
6                    NaN    47.7%    65.7%    63.6%    46.2%
7                    NaN    39.9%    56.2%    56.4%    38.4%
8                    NaN     7.8%     9.6%     7.2%     7.8%
9                    NaN     0.7%     0.4%     1.0%     0.6%
10                   NaN     0.5%     0.4%     0.7%     0.5%
11                   NaN     0.1%     0.0%     0.3%     0.1%
12                   NaN     2.0%     2.0%     1.3%     2.0%
13                   NaN     1.3%     0.8%     0.7%     1.4%
14                   NaN     0.7%     1.2%     0.7%     0.6%
15                   NaN     0.4%     0.0%     0.7%     0.4%
16                   NaN     0.3%     0.0%     0.3%     0.3%
17                   NaN     0.1%     0.0%     0.3%     0.1%
18                   NaN     2.7%     7.6%     5.9%     2.3%
19                   NaN     2.2%     6.8%     5.9%     1.9%
20                   NaN     0.4%     0.8%     0.0%     0.4%
21                   NaN     0.6%     0.0%     1.0%     0.6%
22                   NaN     0.8%     2.0%     1.6%     0.7%
23                   NaN    25.5%     8.8%    10.8%    26.9%
24                   NaN     9.0%    10.8%    10.8%     8.8%
25                   NaN     9.1%     1.2%     2.6%     9.7%
26                   NaN     1.7%     1.6%     0.7%     1.8%
27  MEAN STARTING SALARY  $35,301  $34,502  $39,841  $35,094

                      38    38.01    38.02 Unnamed: 0
0                     NA    2,624    2,009        602
1                     NA    61.8%    59.6%      68.9%
2                    NaN    85.3%    85.1%      85.8%
3                    NaN    49.1%    48.0%      52.0%
4                    NaN    42.9%    42.0%      45.1%
5                    NaN     6.2%     6.0%       7.0%
6                    NaN    41.5%    40.2%      45.8%
7                    NaN    36.9%    35.7%      40.7%
8                    NaN     4.6%     4.5%       5.1%
9                    NaN     0.7%     0.8%       0.5%
10                   NaN     0.6%     0.6%       0.2%
11                   NaN     0.2%     0.2%       0.2%
12                   NaN     2.8%     2.5%       3.4%
13                   NaN     1.9%     1.7%       2.2%
14                   NaN     0.9%     0.8%       1.2%
15                   NaN     0.6%     0.7%       0.0%
16                   NaN     0.4%     0.4%       0.0%
17                   NaN     0.2%     0.3%       0.0%
18                   NaN     3.5%     3.9%       2.4%
19                   NaN     3.2%     3.7%       1.9%
20                   NaN     0.3%     0.3%       0.5%
21                   NaN     3.0%     2.0%       5.8%
22                   NaN     0.6%     0.6%       0.5%
23                   NaN    30.5%    32.1%      26.0%
24                   NaN     9.0%     8.9%       9.4%
25                   NaN     5.3%     5.6%       4.6%
26                   NaN     2.6%     2.8%       1.7%
27  MEAN STARTING SALARY  $41,335  $42,936    $37,344

                      39    39.02    39.04   39.06    39.07 Unnamed: 0
0                     NA      497      103      33      217        137
1                    NaN    85.3%    95.1%  100.0%    85.3%      73.7%
2                    NaN    93.5%    95.9%   90.6%    92.7%      94.1%
3                    NaN    57.3%    58.2%   57.6%    55.7%      59.4%
4                    NaN    49.8%    52.0%   48.5%    48.1%      50.5%
5                    NaN     7.5%     6.1%    9.1%     7.6%       8.9%
6                    NaN    51.4%    49.0%   57.6%    49.7%      54.5%
7                    NaN    45.0%    43.9%   48.5%    43.8%      46.5%
8                    NaN     6.4%     5.1%    9.1%     5.9%       7.9%
9                    NaN     0.5%     0.0%    0.0%     0.5%       1.0%
10                   NaN     0.5%     0.0%    0.0%     0.5%       1.0%
11                   NaN     0.0%     0.0%    0.0%     0.0%       0.0%
12                   NaN     2.4%     6.1%    0.0%     2.2%       0.0%
13                   NaN     1.9%     5.1%    0.0%     1.6%       0.0%
14                   NaN     0.5%     1.0%    0.0%     0.5%       0.0%
15                   NaN     0.7%     0.0%    0.0%     1.1%       1.0%
16                   NaN     0.2%     0.0%    0.0%     0.5%       0.0%
17                   NaN     0.5%     0.0%    0.0%     0.5%       1.0%
18                   NaN     2.4%     3.1%    0.0%     2.2%       3.0%
19                   NaN     2.1%     3.1%    0.0%     1.6%       3.0%
20                   NaN     0.2%     0.0%    0.0%     0.5%       0.0%
21                   NaN     4.7%     0.0%    0.0%     7.6%       5.9%
22                   NaN     0.2%     0.0%    3.0%     0.0%       0.0%
23                   NaN    29.5%    37.8%   27.3%    25.9%      28.7%
24                   NaN     4.7%     4.1%    9.1%     4.3%       4.0%
25                   NaN     1.7%     0.0%    0.0%     2.7%       2.0%
26                   NaN     1.9%     0.0%    3.0%     3.8%       0.0%
27  MEAN STARTING SALARY  $30,810  $32,122      NA  $30,887         NA

,Unnamed: 0,40,40.01,40.02,40.04,40.05,40.06,40.08,40.10
0,NA,"8,747",138,158,209,"3,475","1,623","1,962",475
1,NA,67.9%,94.9%,58.9%,75.1%,68.4%,55.3%,62.1%,65.7%
2,NaN,81.0%,69.5%,84.8%,81.4%,84.1%,77.8%,83.6%,83.8%
3,NaN,42.5%,43.5%,51.6%,33.8%,39.3%,49.9%,39.7%,53.2%
4,NaN,38.5%,17.6%,45.2%,28.0%,34.5%,44.3%,35.7%,52.6%
5,NaN,4.0%,26.0%,6.5%,5.7%,4.8%,5.6%,4.0%,0.6%
6,NaN,38.0%,42.0%,39.8%,28.0%,33.4%,42.1%,34.5%,51.0%
7,NaN,35.1%,16.8%,38.7%,24.8%,30.1%,37.8%,31.6%,50.3%
8,NaN,2.9%,25.2%,1.1%,3.2%,3.4%,4.3%,3.0%,0.6%
9,NaN,0.5%,0.0%,0.0%,0.6%,0.3%,0.8%,0.7%,0.0%
10,NaN,0.4%,0.0%,0.0%,0.6%,0.3%,0.7%,0.6%,0.0%
11,NaN,0.1%,0.0%,0.0%,0.0%,0.0%,0.1%,0.1%,0.0%
12,NaN,2.1%,1.5%,5.4%,0.6%,3.2%,3.6%,2.2%,1.0%
13,NaN,1.5%,0.8%,2.2%,0.6%,2.7%,2.7%,1.7%,1.0%
14,NaN,0.6%,0.8%,3.2%,0.0%,0.6%,0.9%,0.5%,0.0%
15,NaN,0.2%,0.0%,2.2%,3.2%,0.7%,0.4%,0.2%,0.0%
16,NaN,0.2%,0.0%,0.0%,0.6%,0.0%,0.3%,0.1%,0.0%
17,NaN,0.0%,0.0%,2.2%,2.5%,0.7%,0.1%,0.2%,0.0%
18,NaN,1.7%,0.0%,4.3%,1.3%,1.6%,3.0%,2.1%,1.3%
19,NaN,1.4%,0.0%,4.3%,1.3%,1.5%,2.9%,1.7%,1.3%
20,NaN,0.3%,0.0%,0.0%,0.0%,0.1%,0.1%,0.3%,0.0%
21,NaN,0.7%,3.1%,1.1%,0.6%,0.9%,0.7%,0.4%,1.0%
22,NaN,1.1%,0.8%,0.0%,11.5%,1.1%,1.6%,1.5%,0.6%
23,NaN,35.6%,22.1%,31.2%,35.0%,41.8%,24.4%,40.2%,27.9%
24,NaN,12.5%,13.0%,11.8%,14.6%,9.4%,15.0%,11.1%,15.4%
25,NaN,6.2%,17.6%,3.2%,3.8%,6.3%,6.8%,5.0%,0.6%
26,NaN,1.3%,0.0%,1.1%,0.6%,1.1%,1.7%,2.1%,1.3%
27,MEAN STARTING SALARY,"$49,691","$27,182","$42,157","$44,047","$42,355","$39,795","$52,313","$64,378"

              Unnamed: 0       42    42.01    42.27    42.28
0                    NaN   24,284   23,929      355      466
1                    NaN    62.0%    61.9%    66.2%    69.3%
2                    NaN    80.2%    80.0%    93.1%    91.0%
3                    NaN    48.9%    48.8%    58.3%    56.7%
4                    NaN    40.6%    40.4%    50.2%    51.4%
5                    NaN     8.4%     8.4%     8.1%     5.3%
6                    NaN    44.0%    43.9%    48.9%    48.9%
7                    NaN    37.3%    37.2%    43.8%    44.0%
8                    NaN     6.7%     6.7%     5.1%     5.0%
9                    NaN     0.6%     0.6%     0.9%     0.0%
10                   NaN     0.5%     0.5%     0.9%     0.0%
11                   NaN     0.1%     0.1%     0.0%     0.0%
12                   NaN     1.9%     1.9%     2.6%     5.9%
13                   NaN     1.4%     1.4%     1.3%     5.6%
14                   NaN     0.6%     0.6%     1.3%     0.3%
15                   NaN     0.9%     0.9%     0.9%     0.3%
16                   NaN     0.2%     0.2%     0.0%     0.3%
17                   NaN     0.7%     0.7%     0.9%     0.0%
18                   NaN     1.4%     1.4%     5.1%     1.5%
19                   NaN     1.2%     1.1%     4.3%     1.5%
20                   NaN     0.2%     0.2%     0.9%     0.0%
21                   NaN     1.5%     1.5%     0.4%     3.1%
22                   NaN     0.6%     0.6%     0.0%     0.0%
23                   NaN    27.3%    27.2%    32.8%    30.7%
24                   NaN    10.9%    11.0%     3.8%     6.8%
25                   NaN     8.5%     8.5%     3.0%     2.2%
26                   NaN     2.3%     2.3%     1.7%     0.6%
27  MEAN STARTING SALARY  $35,690  $35,328  $41,197  $40,001

,Unnamed: 0,43,43.01,43.02,43.03
0,TOTAL GRADUATES,"7,298","7,780",252,216
1,KNOWLEDGE RATE,57.2%,47.0%,82.1%,63.9%
2,CAREER OUTCOMES PERCENTAGE,83.9%,80.4%,93.6%,93.5%
3,PERCENT EMPLOYED OVERALL,66.2%,61.0%,85.0%,76.8%
4,Percent Employed Full-time,55.3%,50.4%,83.1%,74.6%
5,Percent Employed Part-time,10.9%,10.7%,1.9%,2.2%
6,Percent Standard Employment,59.1%,56.4%,84.5%,"75.4S%ECURITY, LAW"
7,Percent Standard Employment Full-time,52.6%,47.6%,82.6%,"73.9F%IREFIGHTING,"
8,Percent Standard Employment Part-time,6.5%,8.8%,1.9%,1.4&% RELATED PROTECTIVE
9,Percent Entrepreneur,0.4%,0.7%,0.5%,0.7S%ERVICES
10,Percent Entrepreneur Full-time,0.3%,0.4%,0.5%,0.7%
11,Percent Entrepreneur Part-time,0.1%,0.3%,0.0%,0.0C%RIMINAL JUSTICE
12,Percent Temp/Contract Employee,2.4%,2.5%,0.0%,0.7%
13,Percent Temp/Contract Employee Full-time,1.3%,1.5%,0.0%,0.0%
14,Percent Temp/Contract Employee Part-time,1.1%,1.0%,0.0%,0.7%
15,Percent Freelance,3.2%,0.1%,0.0%,0.0%
16,Percent Freelance Full-time,0.2%,0.1%,0.0%,0.0%
17,Percent Freelance Part-time,3.0%,0.1%,0.0%,0.0%
18,Percent Post-Grad Fellowship/Internship,1.1%,1.4%,0.0%,0.0S%ECURITY
19,Percent Post-Grad Fellowship/Internship Full-time,0.9%,0.9%,0.0%,0.0%
20,Percent Post-Grad Fellowship/Internship Part-time,0.2%,0.4%,0.0%,0.0%
21,PERCENT SERVICE,0.4%,0.5%,0.5%,0.7%
22,PERCENT MILITARY,3.5%,3.6%,0.5%,5.1%
23,PERCENT CONTINUING EDUCATION,12.2%,14.4%,5.8%,10.9%
24,PERCENT SEEKING EMPLOYMENT,11.1%,15.1%,4.8%,5.1%
25,PERCENT SEEKING CONTINUING EDUCATION,4.7%,4.2%,1.4%,1.4%
26,NOT SEEKING,1.9%,1.1%,1.9%,0.0%
27,MEAN STARTING SALARY,"$44,696","$40,210","$61,261","$68,209"

,Unnamed: 0,44.02,44.05,44.07,44,44.00
0,TOTAL GRADUATES,506,320,"4,638","7,082","1,358"
1,KNOWLEDGE RATE,58.9%,64.4%,59.9%,59.9%,82.3%
2,CAREER OUTCOMES PERCENTAGE,81.0%,83.3%,83.9%,83.9%,85.4%
3,PERCENT EMPLOYED OVERALL,59.4%,59.2%,47.4%,54.6%,65.6%
4,Percent Employed Full-time,54.0%,54.4%,40.2%,48.5%,59.7%
5,Percent Employed Part-time,5.4%,4.9%,7.3%PUBLIC,6.1%,5.9%
6,ADMINISTRATION Percent Standard Employment,54.7%,49.5%,41.9%AND SOCIAL,51.2%,62.5%
7,Percent Standard Employment Full-time,50.3%,46.6%,37.2%SERVICES,45.9%,57.7%
8,Percent Standard Employment Part-time,4.4%,2.9%,4.8%,5.3%,4.7%
9,Percent Entrepreneur,1.0%,0.0%,"0.5%HUMAN SERVICES, GENERAL",0.5%,0.3%
10,Percent Entrepreneur Full-time,0.7%,0.0%,0.4%,0.3%,0.2%
11,Percent Entrepreneur Part-time,0.3%,0.0%,0.1%,0.2%,0.1%
12,Percent Temp/Contract Employee,2.0%,5.3%,2.0%PUBLIC ADMINISTRATION,1.0%,1.5%
13,Percent Temp/Contract Employee Full-time,1.7%,4.4%,1.3%,0.6%,1.0%
14,Percent Temp/Contract Employee Part-time,0.3%,1.0%,0.7%,0.4%,0.5%
15,Percent Freelance,0.3%,0.5%,1.8%PUBLIC POLICY,0.1%,0.4%
16,Percent Freelance Full-time,0.0%,0.5%,0.3%,0.1%,0.2%
17,Percent Freelance Part-time,0.3%,0.0%,1.5%,0.0%,0.3%
18,Percent Post-Grad Fellowship/Internship,1.3%,3.9%,1.2%,1.8%,0.9%
19,Percent Post-Grad Fellowship/Internship Full-time,1.3%,2.9%,1.0%,1.6%,0.6%
20,Percent Post-Grad Fellowship/Internship Part-time,0.0%,1.0%,0.2%,0.2%,0.3%
21,PERCENT SERVICE,1.7%,3.4%,1.2%,1.5%,2.1%
22,PERCENT MILITARY,7.0%,0.5%,0.1%,1.2%,1.2%
23,PERCENT CONTINUING EDUCATION,12.1%,18.9%,34.3%,25.5%,14.6%
24,PERCENT SEEKING EMPLOYMENT,14.1%,10.7%,10.5%,10.8%,8.4%
25,PERCENT SEEKING CONTINUING EDUCATION,4.7%,5.8%,5.4%,5.1%,5.8%
26,NOT SEEKING,1.0%,1.5%,1.0%,1.4%,2.2%
27,MEAN STARTING SALARY,"$54,386","$43,542","$33,189","$34,848",NA

              Unnamed: 0       45    45.01    45.02  45.03    45.04    45.06
0                    NaN   38,211    1,530    2,604     41    2,496   11,667
1                    NaN    61.8%    55.2%    57.8%  75.6%    58.9%    62.3%
2                    NaN    80.7%    74.4%    73.1%  67.7%    70.6%    85.8%
3                    NaN    58.4%    51.4%    48.7%  41.9%    49.5%    69.1%
4                    NaN    53.1%    45.3%    39.7%  29.0%    44.5%    66.1%
5                    NaN     5.4%     6.0%     9.1%  12.9%     5.0%     3.0%
6                    NaN    51.7%    46.0%    40.8%  32.3%    46.9%    63.2%
7                    NaN    47.8%    42.2%    34.5%  25.8%    42.4%    61.3%
8                    NaN     4.0%     3.8%     6.3%   6.5%     4.4%     2.0%
9                    NaN     1.1%     0.6%     1.3%   0.0%     0.5%     1.4%
10                   NaN     1.0%     0.6%     1.2%   0.0%     0.5%     1.3%
11                   NaN     0.1%     0.0%     0.1%   0.0%     0.1%     0.1%
12                   NaN     2.3%     1.7%     2.9%   6.5%     1.4%     1.7%
13                   NaN     1.6%     0.8%     1.5%   3.2%     1.0%     1.4%
14                   NaN     0.7%     0.8%     1.4%   3.2%     0.4%     0.3%
15                   NaN     0.6%     1.5%     1.1%   3.2%     0.1%     0.4%
16                   NaN     0.3%     0.1%     0.3%   0.0%     0.1%     0.2%
17                   NaN     0.3%     1.4%     0.8%   3.2%     0.0%     0.2%
18                   NaN     2.7%     1.5%     2.9%   0.0%     0.6%     2.3%
19                   NaN     2.4%     1.5%     2.3%   0.0%     0.5%     1.9%
20                   NaN     0.3%     0.0%     0.5%   0.0%     0.1%     0.4%
21                   NaN     1.6%     0.5%     2.6%   3.2%     1.0%     0.6%
22                   NaN     1.5%     3.7%     0.4%   0.0%     3.9%     0.6%
23                   NaN    17.7%    16.7%    19.2%  22.6%    14.9%    14.2%
24                   NaN    13.5%    19.9%    14.4%  19.4%    22.9%    11.2%
25                   NaN     5.4%     5.0%    11.8%  12.9%     5.9%     2.8%
26                   NaN     1.9%     3.0%     3.1%   0.0%     1.9%     1.5%
27  MEAN STARTING SALARY  $46,707  $43,401  $35,572     NA  $39,606  $54,598

              Unnamed: 0    45.07    45.09    45.10    45.11    45.12  45.13
0                    NaN      996    2,564    9,800    6,221      120    110
1                    NaN    53.7%    78.2%    63.8%    56.2%    55.8%  81.8%
2                    NaN    75.5%    80.4%    82.8%    76.1%    88.9%  80.7%
3                    NaN    55.9%    57.1%    54.0%    54.9%    61.2%  60.0%
4                    NaN    47.7%    53.5%    49.1%    45.1%    50.7%  44.4%
5                    NaN     8.2%     3.5%     4.9%     9.9%    10.4%  15.6%
6                    NaN    46.4%    47.0%    46.3%    49.3%    50.7%  48.9%
7                    NaN    40.0%    44.9%    42.8%    41.0%    43.3%  37.8%
8                    NaN     6.4%     2.0%     3.6%     8.3%     7.5%  11.1%
9                    NaN     1.1%     1.0%     0.9%     1.2%     3.0%   0.0%
10                   NaN     1.1%     0.9%     0.8%     1.0%     1.5%   0.0%
11                   NaN     0.0%     0.1%     0.1%     0.1%     1.5%   0.0%
12                   NaN     5.6%     3.4%     2.4%     2.2%     4.5%   6.7%
13                   NaN     3.9%     2.4%     1.8%     1.4%     3.0%   4.4%
14                   NaN     1.7%     0.9%     0.6%     0.8%     1.5%   2.2%
15                   NaN     0.7%     0.5%     0.8%     0.5%     0.0%   2.2%
16                   NaN     0.7%     0.4%     0.5%     0.2%     0.0%   1.1%
17                   NaN     0.0%     0.1%     0.3%     0.3%     0.0%   1.1%
18                   NaN     2.1%     5.2%     3.5%     1.8%     3.0%   2.2%
19                   NaN     1.9%     4.9%     3.2%     1.5%     3.0%   1.1%
20                   NaN     0.2%     0.3%     0.3%     0.3%     0.0%   1.1%
21                   NaN     1.7%     3.5%     1.8%     2.1%     6.0%   4.4%
22                   NaN     1.7%     2.3%     1.8%     1.1%     0.0%   0.0%
23                   NaN    14.6%    15.6%    23.8%    16.4%    16.4%  14.4%
24                   NaN    20.4%    14.9%    10.8%    15.7%     7.5%  11.1%
25                   NaN     3.6%     4.3%     6.1%     7.8%     3.0%   7.8%
26                   NaN     2.2%     2.3%     1.7%     1.9%     6.0%   2.2%
27  MEAN STARTING SALARY  $41,866  $43,716  $44,362  $37,868  $40,021     NA

              Unnamed: 0       46    46.04
0                     NA      198      198
1                     NA    73.7%    73.7%
2                    NaN    97.9%    97.9%
3                    NaN    93.2%    93.2%
4                    NaN    92.5%    92.5%
5                    NaN     0.7%     0.7%
6                    NaN    85.6%    85.6%
7                    NaN    85.6%    85.6%
8                    NaN     0.0%     0.0%
9                    NaN     1.4%     1.4%
10                   NaN     0.7%     0.7%
11                   NaN     0.7%     0.7%
12                   NaN     2.7%     2.7%
13                   NaN     2.7%     2.7%
14                   NaN     0.0%     0.0%
15                   NaN     2.7%     2.7%
16                   NaN     2.7%     2.7%
17                   NaN     0.0%     0.0%
18                   NaN     0.7%     0.7%
19                   NaN     0.7%     0.7%
20                   NaN     0.0%     0.0%
21                   NaN     0.0%     0.0%
22                   NaN     3.4%     3.4%
23                   NaN     0.7%     0.7%
24                   NaN     2.1%     2.1%
25                   NaN     0.0%     0.0%
26                   NaN     0.7%     0.7%
27  MEAN STARTING SALARY  $58,741  $58,583

                      49    49.01    49.03 Unnamed: 0
0                     NA      560      455        105
1                    NaN    55.2%    52.3%      67.6%
2                    NaN    86.3%    89.0%      77.5%
3                    NaN    71.2%    71.4%      70.4%
4                    NaN    66.0%    65.1%      69.0%
5                    NaN     5.2%     6.3%       1.4%
6                    NaN    68.0%    67.2%      70.4%
7                    NaN    63.4%    61.8%      69.0%
8                    NaN     4.5%     5.5%       1.4%
9                    NaN     0.0%     0.0%       0.0%
10                   NaN     0.0%     0.0%       0.0%
11                   NaN     0.0%     0.0%       0.0%
12                   NaN     2.6%     3.4%       0.0%
13                   NaN     1.9%     2.5%       0.0%
14                   NaN     0.6%     0.8%       0.0%
15                   NaN     0.3%     0.4%       0.0%
16                   NaN     0.3%     0.4%       0.0%
17                   NaN     0.0%     0.0%       0.0%
18                   NaN     0.3%     0.4%       0.0%
19                   NaN     0.3%     0.4%       0.0%
20                   NaN     0.0%     0.0%       0.0%
21                   NaN     0.0%     0.0%       0.0%
22                   NaN     4.5%     5.5%       1.4%
23                   NaN    10.0%    11.3%       5.6%
24                   NaN     7.1%     8.8%       1.4%
25                   NaN     6.5%     2.1%      21.1%
26                   NaN     0.6%     0.8%       0.0%
27  MEAN STARTING SALARY  $44,044  $44,044         NA

,Unnamed: 0,50,50.01,50.03,50.04,50.05,50.06,50.07,50.09,50.10
0,NA,"22,455",909,735,"4,287","3,702","3,191","5,193","3,790",586P
1,NaN,61.5%,64.0%,58.9%,63.7%,62.2%,57.4%,55.5%,66.4%,82.1%
2,NaN,82.5%,84.1%,80.6%,83.6%,85.0%,80.2%,77.7%,87.0%,75.9%P
3,NaN,69.2%,69.6%,70.4%,77.7%,76.4%,71.6%,62.7%,59.5%,65.7%
4,NaN,54.6%,53.8%,47.6%,68.6%,56.9%,57.6%,47.7%,44.5%,54.3%
5,NaN,14.6%,15.8%,22.9%,9.1%,19.6%,14.0%,15.0%,15.0%,11.4%
6,NaN,52.8%,53.8%,52.4%,63.6%,54.0%,50.2%,50.2%,44.8%,51.8%
7,NaN,43.9%,43.8%,38.3%,57.9%,41.7%,43.2%,40.2%,36.3%,44.3%A
8,NaN,8.9%,10.0%,14.1%,5.6%,12.3%,6.9%,10.0%,8.5%,7.5%
9,NaN,1.9%,3.6%,0.7%,1.9%,1.3%,2.2%,2.3%,1.8%,2.1%D
10,NaN,1.6%,3.1%,0.5%,1.7%,1.1%,1.8%,1.7%,1.3%,2.1%
11,NaN,0.4%,0.5%,0.2%,0.2%,0.2%,0.4%,0.6%,0.5%,0.0%
12,NaN,4.9%,5.2%,6.9%,4.1%,7.2%,5.8%,3.6%,4.2%,5.2%P
13,NaN,3.1%,1.7%,4.6%,3.3%,4.6%,3.8%,1.8%,2.3%,3.7%
14,NaN,1.9%,3.4%,2.3%,0.8%,2.7%,2.0%,1.8%,1.8%,1.5%F
15,NaN,6.2%,4.0%,6.9%,5.1%,9.9%,9.1%,3.3%,6.3%,3.1%
16,NaN,3.4%,2.7%,1.8%,2.9%,6.2%,5.6%,1.5%,2.8%,1.5%
17,NaN,2.8%,1.2%,5.1%,2.1%,3.8%,3.4%,1.8%,3.5%,1.7%
18,NaN,3.3%,3.1%,3.5%,3.1%,3.9%,4.4%,3.2%,2.4%,3.5%
19,NaN,2.6%,2.4%,2.3%,2.8%,3.3%,3.1%,2.4%,1.7%,2.7%E
20,NaN,0.7%,0.7%,1.2%,0.3%,0.6%,1.3%,0.8%,0.6%,0.8%
21,NaN,0.7%,1.2%,0.2%,0.4%,0.7%,0.5%,1.2%,0.5%,1.0%
22,NaN,0.2%,0.2%,0.2%,0.3%,0.1%,0.3%,0.1%,0.3%,0.2%
23,NaN,10.3%,10.7%,6.9%,4.4%,5.6%,4.9%,11.0%,25.3%,6.9%
24,NaN,14.3%,13.7%,15.2%,15.4%,12.8%,15.6%,16.2%,9.8%,21.6%
25,NaN,2.8%,1.7%,3.5%,0.8%,1.8%,3.6%,5.3%,3.0%,1.9%
26,NaN,2.4%,2.9%,3.5%,1.0%,2.5%,3.4%,3.5%,1.7%,2.7%
27,MEAN STARTING SALARY,"$37,887","$37,959","$36,646","$43,846","$31,963","$36,400","$37,391","$36,907","$34,873"

,51,51.00,51.02,51.06,51.07,51.08,51.09,Unnamed: 0
0,NaN,"36,429","4,248","2,909",187,"1,835",67,"1,699"
1,NaN,62.9%,62.8%,65.4%,56.1%,67.8%,71.6%,57.9%
2,NaN,87.7%,82.5%,86.6%,73.3%,82.7%,91.7%,90.4%
3,NaN,66.4%,52.2%,25.6%,48.6%,69.8%,83.3%,53.3%
4,NaN,59.8%,42.6%,19.2%,41.0%,65.2%,79.2%,45.4%
5,NaN,6.7%,9.6%,6.3%,7.6%,4.6%,4.2%,7.8%
6,NaN,61.8%,47.8%,21.3%,46.7%,66.8%,81.3%,49.2%
7,NaN,56.7%,39.8%,16.5%,39.0%,62.6%,77.1%,42.8%
8,NaN,5.1%,7.9%,4.8%,7.6%,4.3%,4.2%,6.4%
9,NaN,0.4%,0.7%,0.4%,0.0%,0.7%,0.0%,0.6%
10,NaN,0.3%,0.4%,0.3%,0.0%,0.6%,0.0%,0.4%
11,NaN,0.1%,0.3%,0.1%,0.0%,0.1%,0.0%,0.2%
12,NaN,1.8%,1.9%,2.7%,1.0%,1.3%,0.0%,2.2%
13,NaN,1.2%,1.0%,1.5%,1.0%,1.1%,0.0%,1.3%
14,NaN,0.6%,0.9%,1.2%,0.0%,0.2%,0.0%,0.9%
15,NaN,0.8%,0.3%,0.4%,1.0%,0.2%,0.0%,0.3%
16,NaN,0.2%,0.2%,0.3%,1.0%,0.2%,0.0%,0.3%
17,NaN,0.7%,0.1%,0.1%,0.0%,0.0%,0.0%,0.0%
18,NaN,1.6%,1.6%,0.7%,0.0%,0.8%,2.1%,0.9%
19,NaN,1.4%,1.2%,0.6%,0.0%,0.7%,2.1%,0.6%
20,NaN,0.2%,0.4%,0.2%,0.0%,0.1%,0.0%,0.3%
21,NaN,0.7%,0.5%,0.5%,4.8%,2.0%,0.0%,0.2%
22,NaN,0.6%,0.7%,0.1%,1.9%,1.8%,0.0%,1.1%
23,NaN,19.1%,27.4%,59.2%,15.2%,8.0%,8.3%,35.5%
24,NaN,8.2%,6.6%,5.2%,22.9%,13.3%,8.3%,6.0%
25,NaN,4.0%,10.6%,8.1%,2.9%,3.9%,0.0%,3.6%
26,NaN,1.1%,2.0%,1.4%,3.8%,1.2%,0.0%,0.4%
27,MEAN STARTING SALARY,"$53,872",NA,"$34,317","$53,000","$44,725","39,662","$53,806"

                   51.10   51.11   51.15  51.20   51.22 Unnamed: 0
0                    NaN     329     392     76     493      4,627
1                    NaN   45.9%   76.3%  84.2%   62.5%      61.2%
2                    NaN   91.2%   89.3%  95.1%   91.2%      79.7%
3                    NaN   82.8%   29.8%  29.7%   61.7%      49.5%
4                    NaN   78.8%   24.7%  26.6%   60.4%      42.6%
5                    NaN    4.0%    5.0%   3.1%    1.3%       6.9%
6                    NaN   82.1%   25.8%  29.7%   40.3%     42.6%C
7                    NaN   78.1%   21.4%  26.6%   39.0%    L38.8%S
8                    NaN    4.0%    4.3%   3.1%    1.3%      3.8%A
9                    NaN    0.0%    0.3%   0.0%    0.3%       0.2%
10                   NaN    0.0%    0.3%   0.0%    0.3%     0.2%HP
11                   NaN    0.0%    0.0%   0.0%    0.0%      0.0%P
12                   NaN    0.7%    2.3%   0.0%   11.7%       2.4%
13                   NaN    0.7%    1.7%   0.0%   11.7%      1.7%H
14                   NaN    0.0%    0.7%   0.0%    0.0%      0.7%P
15                   NaN    0.0%    0.0%   0.0%    0.0%      2.0%P
16                   NaN    0.0%    0.0%   0.0%    0.0%      0.1%S
17                   NaN    0.0%    0.0%   0.0%    0.0%      1.9%A
18                   NaN    0.0%    1.3%   0.0%    9.4%       2.4%
19                   NaN    0.0%    1.3%   0.0%    9.4%      1.9%P
20                   NaN    0.0%    0.0%   0.0%    0.0%       0.5%
21                   NaN    0.0%    1.3%   3.1%    0.0%       1.9%
22                   NaN    2.6%    0.0%   0.0%    0.0%       0.1%
23                   NaN    4.0%   58.2%  57.8%   29.2%      27.4%
24                   NaN    5.3%    4.7%   4.7%    6.8%      11.8%
25                   NaN    3.3%    6.0%   0.0%    1.9%       8.4%
26                   NaN    2.0%    0.0%   4.7%    0.3%       0.9%
27  MEAN STARTING SALARY  51,331  37,760     NA  72,219    $41,102

,Unnamed: 0,51.23,51.25,51.27,51.31,51.38
0,TOTAL GRADUATES,907,161,56,661,"17,384"
1,KNOWLEDGE RATE,78.6%,51.6%,87.5%,68.1%,62.2%
2,CAREER OUTCOMES PERCENTAGE,91.8%,92.8%,85.4%,88.7%,91.7%
3,PERCENT EMPLOYED OVERALL,38.8%,74.7%,77.6%,47.8%,86.9%
4,Percent Employed Full-time,32.5%,69.9%,67.3%,40.4%,80.5%REHABILITATION
5,Percent Employed Part-time,6.3%,4.8%,10.2%,7.3%,6.4%& THERAPEUTIC
6,Percent Standard Employment,35.3%,62.7%,73.5%,36.9%,83.2%
7,Percent Standard Employment Full-time,30.4%,57.8%,65.3%,31.3%,78.1%VETERINARY
8,Percent Standard Employment Part-time,4.9%,4.8%,8.2%,5.6%,5.0%BIOMEDICAL &
9,Percent Entrepreneur,0.3%,0.0%,0.0%,0.7%,0.3%
10,Percent Entrepreneur Full-time,0.1%,0.0%,0.0%,0.4%,0.2%MEDICAL
11,Percent Entrepreneur Part-time,0.1%,0.0%,0.0%,0.2%,0.1%ILLUSTRATION AND
12,Percent Temp/Contract Employee,2.1%,2.4%,0.0%,3.8%,1.1%
13,Percent Temp/Contract Employee Full-time,1.1%,2.4%,0.0%,2.9%,0.8%
14,Percent Temp/Contract Employee Part-time,1.0%,0.0%,0.0%,0.9%,0.3%NUTRITION SERVICES
15,Percent Freelance,0.3%,1.2%,4.1%,0.9%,1.0%
16,Percent Freelance Full-time,0.1%,1.2%,2.0%,0.7%,0.1%
17,Percent Freelance Part-time,0.1%,0.0%,2.0%,0.2%,"0.9%NURSING, NURSING"
18,Percent Post-Grad Fellowship/Internship,0.8%,8.4%,0.0%,5.6%,"1.4%ADMINISTRATION, NURSING RESEARCH"
19,Percent Post-Grad Fellowship/Internship Full-time,0.7%,8.4%,0.0%,5.1%,1.3%& CLINICAL NURSING
20,Percent Post-Grad Fellowship/Internship Part-time,0.1%,0.0%,0.0%,0.4%,0.1%
21,PERCENT SERVICE,0.4%,0.0%,0.0%,0.4%,0.4%
22,PERCENT MILITARY,0.8%,1.2%,0.0%,0.2%,0.6%
23,PERCENT CONTINUING EDUCATION,51.1%,16.9%,6.1%,38.4%,3.0%
24,PERCENT SEEKING EMPLOYMENT,5.0%,4.8%,14.3%,7.8%,7.5%
25,PERCENT SEEKING CONTINUING EDUCATION,3.1%,2.4%,0.0%,3.3%,0.8%
26,NOT SEEKING,0.7%,0.0%,2.0%,2.0%,0.9%
27,MEAN STARTING SALARY,"$49,078","$31,481",NA,"$36,762","$58,042"

,Unnamed: 0,52,52.01,52.02,52.03,52.05
0,TOTAL GRADUATES,"96,045","6,892","29,772","14,391",353
1,KNOWLEDGE RATE,71.1%,73.5%,65.2%,76.0%,80.2%
2,CAREER OUTCOMES PERCENTAGE,86.4%,86.0%,85.8%,88.8%,86.8%
3,PERCENT EMPLOYED OVERALL,74.5%,76.8%,75.1%,65.3%,80.2%
4,Percent Employed Full-time,69.5%,73.8%,70.2%,59.9%,62.2%
5,Percent Employed Part-time,4.9%,3.0%,5.0%,5.4%,18.0%
6,Percent Standard Employment,68.2%,71.3%,69.1%,59.3%,"70.0%BUSINESS,"
7,Percent Standard Employment Full-time,65.0%,69.0%,65.7%,56.3%,59.4%MARKETING &
8,Percent Standard Employment Part-time,3.1%,2.3%,3.4%,3.0%,10.6%RELATED SUPPORT
9,Percent Entrepreneur,1.5%,2.0%,1.8%,0.7%,1.4%
10,Percent Entrepreneur Full-time,1.3%,1.9%,1.6%,0.6%,1.4%BUSINESS/
11,Percent Entrepreneur Part-time,0.1%,0.1%,0.2%,0.0%,0.0%
12,Percent Temp/Contract Employee,1.8%,1.5%,1.8%,1.2%,0.7%BUSINESS
13,Percent Temp/Contract Employee Full-time,1.4%,1.3%,1.4%,1.0%,"0.4%ADMINISTRATION,"
14,Percent Temp/Contract Employee Part-time,0.4%,0.3%,0.5%,0.2%,0.4%OPERATIONS
15,Percent Freelance,0.7%,0.3%,0.9%,0.7%,0.7%
16,Percent Freelance Full-time,0.2%,0.2%,0.3%,0.2%,0.7%RELATED SERVICES
17,Percent Freelance Part-time,0.5%,0.1%,0.6%,0.6%,0.0%
18,Percent Post-Grad Fellowship/Internship,2.3%,1.7%,1.6%,3.4%,7.4%BUSINESS/
19,Percent Post-Grad Fellowship/Internship Full-time,1.6%,1.5%,1.2%,1.8%,0.4%CORPORATE COMMUNICATIONS
20,Percent Post-Grad Fellowship/Internship Part-time,0.7%,0.2%,0.3%,1.6%,7.1%
21,PERCENT SERVICE,0.3%,0.3%,0.4%,0.1%,0.0%
22,PERCENT MILITARY,0.5%,0.3%,0.8%,0.3%,0.4%
23,PERCENT CONTINUING EDUCATION,9.8%,7.9%,7.8%,21.9%,5.3%
24,PERCENT SEEKING EMPLOYMENT,11.7%,11.9%,12.1%,8.7%,13.1%
25,PERCENT SEEKING CONTINUING EDUCATION,1.8%,2.0%,1.8%,2.3%,0.0%
26,NOT SEEKING,1.5%,0.8%,1.9%,1.3%,1.1%
27,MEAN STARTING SALARY,"$52,456",NA,"$51,851","$52,343","$49,284"

,Unnamed: 0,52.08,52.09,52.10,52.11,52.06,52.07
0,TOTAL GRADUATES,"14,600","2,586","2,367","1,845","1,765","1,545"
1,KNOWLEDGE RATE,73.4%,72.5%,68.4%,70.1%,72.6%,65.9%
2,CAREER OUTCOMES PERCENTAGE,86.8%,85.4%,85.8%,86.0%,67.8%,89.0%
3,PERCENT EMPLOYED OVERALL,76.3%,78.8%,76.7%,73.8%MANAGERIAL,51.7%,79.0%
4,ECONOMICSPercent Employed Full-time,72.1%,73.6%,72.2%,68.7%,49.6%,73.9%
5,Percent Employed Part-time,4.2%,5.2%,4.4%,5.1%,2.1%,5.1%
6,Percent Standard Employment,70.2%,70.9%,69.1%,65.4%& SMALL BUSINESS,47.4%,65.9%
7,Percent Standard Employment Full-time,67.9%,67.2%,66.4%,62.1%OPERATIONS,46.4%,63.3%
8,Percent Standard Employment Part-time,2.3%,3.7%,2.7%,3.3%FINANCE &,1.0%,2.7%
9,Percent Entrepreneur,1.3%,1.2%,1.2%,1.5%FINANCIAL,0.9%,8.2%
10,Percent Entrepreneur Full-time,1.1%,1.0%,1.0%,1.2%SERVICES,0.9%,6.9%
11,Percent Entrepreneur Part-time,0.1%,0.2%,0.2%,0.2%,0.0%,1.3%
12,Percent Temp/Contract Employee,1.8%,3.1%,3.0%,3.2%ADMINISTRATION/,1.1%,2.7%
13,Percent Temp/Contract Employee Full-time,1.4%,2.3%,2.1%,2.8%MANAGEMENT,0.9%,2.2%
14,Percent Temp/Contract Employee Part-time,0.5%,0.8%,0.9%,0.4%,0.2%,0.5%
15,Percent Freelance,0.5%,0.5%,0.3%,0.8%MANAGEMENT &,0.9%,1.0%
16,Percent Freelance Full-time,0.1%,0.3%,0.2%,0.5%SERVICES,0.5%,0.8%
17,Percent Freelance Part-time,0.3%,0.3%,0.1%,0.3%,0.4%,0.2%
18,Percent Post-Grad Fellowship/Internship,2.5%,3.1%,3.1%,3.0%INTERNATIONAL,1.4%,1.3%
19,Percent Post-Grad Fellowship/Internship Full-time,1.5%,2.9%,2.5%,2.2%,0.9%,0.8%
20,Percent Post-Grad Fellowship/Internship Part-time,1.0%,0.2%,0.6%,0.9%,0.5%,0.5%
21,PERCENT SERVICE,0.2%,0.4%,0.2%,0.9%,0.3%,0.7%
22,PERCENT MILITARY,0.3%,0.4%,1.0%,0.3%,0.7%,0.5%
23,PERCENT CONTINUING EDUCATION,8.8%,4.7%,7.1%,9.4%,12.4%,7.7%
24,PERCENT SEEKING EMPLOYMENT,11.3%,13.5%,11.8%,11.8%,25.4%,10.3%
25,PERCENT SEEKING CONTINUING EDUCATION,1.7%,0.9%,2.3%,1.9%,5.5%,0.6%
26,NOT SEEKING,1.3%,1.3%,0.9%,1.8%,4.0%,1.3%
27,MEAN STARTING SALARY,"$56,355","$38,776","$46,106","$48,324","$50,390","$46,629"

,Unnamed: 0,52.12,52.13,52.14,52.15,52.17,52.18,52.19,52.20
0,TOTAL GRADUATES,"3,278","1,336","12,289",366,335,370,546,891SYSTEMS & SERVICES
1,KNOWLEDGE RATE,77.0%,77.5%,74.2%,78.7%,93.4%,82.2%,70.7%,71.2%MANAGEMENT
2,CAREER OUTCOMES PERCENTAGE,84.1%,86.8%,86.3%,79.6%,91.0%,89.7%,88.8%,94.9%SCIENCES & QUANTITATIVE
3,PERCENT EMPLOYED OVERALL,75.7%,76.8%,78.8%,73.6%,86.3%,85.9%,82.6%,92.9%METHODS
4,Percent Employed Full-time,71.9%,71.0%,72.5%,71.5%,85.3%,84.2%,72.0%,86.9%
5,Percent Employed Part-time,3.7%,5.8%,6.3%,2.1%,1.0%,1.6%,10.6%,6.0%MARKETING
6,Percent Standard Employment,71.0%,70.1%,71.9%,68.1%,84.7%,82.2%,75.4%,84.9%
7,Percent Standard Employment Full-time,69.0%,66.6%,67.5%,67.4%,83.7%,81.3%,66.1%,81.2%
8,Percent Standard Employment Part-time,2.0%,3.5%,4.4%,0.7%,1.0%,1.0%,9.3%,3.6%
9,Percent Entrepreneur,0.9%,1.5%,1.5%,2.1%,0.6%,0.7%,1.0%,1.3%
10,Percent Entrepreneur Full-time,0.8%,1.4%,1.4%,2.1%,0.6%,0.3%,0.8%,0.9%
11,Percent Entrepreneur Part-time,0.1%,0.2%,0.1%,0.0%,0.0%,0.3%,0.3%,0.3%
12,Percent Temp/Contract Employee,1.4%,2.1%,1.8%,1.4%,0.3%,1.3%,2.1%,"4.3%GENERAL SALES,"
13,Percent Temp/Contract Employee Full-time,1.0%,1.4%,1.3%,0.7%,0.3%,1.0%,1.0%,3.0%MERCHANDISING &
14,Percent Temp/Contract Employee Part-time,0.4%,0.8%,0.5%,0.7%,0.0%,0.3%,1.0%,1.3%OPERATIONS
15,Percent Freelance,1.2%,0.3%,0.8%,0.0%,0.0%,0.3%,0.3%,"0.3%SPECIALIZED SALES,"
16,Percent Freelance Full-time,0.1%,0.3%,0.2%,0.0%,0.0%,0.3%,0.3%,0.3%& MARKETING
17,Percent Freelance Part-time,1.1%,0.0%,0.6%,0.0%,0.0%,0.0%,0.0%,0.0%OPERATIONS
18,Percent Post-Grad Fellowship/Internship,1.1%,2.8%,2.8%,2.1%,0.6%,1.3%,3.9%,2.2%
19,Percent Post-Grad Fellowship/Internship Full-time,1.0%,1.4%,2.0%,1.4%,0.6%,1.3%,3.9%,1.4%MANAGEMENT
20,Percent Post-Grad Fellowship/Internship Part-time,0.2%,1.4%,0.8%,0.7%,0.0%,0.0%,0.0%,0.8%
21,PERCENT SERVICE,0.2%,0.2%,0.4%,0.3%,0.0%,0.0%,0.5%,0.0%
22,PERCENT MILITARY,0.6%,0.0%,0.3%,0.3%,0.3%,0.0%,0.0%,1.1%
23,PERCENT CONTINUING EDUCATION,6.5%,7.9%,5.6%,2.8%,3.8%,2.6%,5.2%,0.8%
24,PERCENT SEEKING EMPLOYMENT,14.5%,11.3%,12.5%,17.4%,8.3%,9.5%,10.6%,4.7%
25,PERCENT SEEKING CONTINUING EDUCATION,1.2%,1.6%,1.0%,2.4%,0.6%,0.7%,0.5%,0.3%
26,NOT SEEKING,1.3%,2.1%,1.5%,3.1%,0.6%,1.3%,0.5%,0.2%
27,MEAN STARTING SALARY,"$60,575","$58,377","$45,842","$47,769","$51,180","$47,218","$36,351","$58,744"

In [329]:
def clean_and_combine(df_list, year, cols):
    #create empty df to combine into
    total_df = pd.DataFrame()
    new_df_list = []
    for i in df_list:
        df = i
        if 'Unnamed: 1' in df.columns:
            df = df.drop(columns='Unnamed: 1')
        if 'Unnamed: 2' in df.columns:
            df = df.drop(columns='Unnamed: 2')
        if 'Unnamed: 3' in df.columns:
            df = df.drop(columns='Unnamed: 3')
        if (len(df) > 1) and (len(df.columns) > 3):
            new_df_list.append(df[(df[df.columns[-2]].notna())&(df[df.columns[-3]].notna())])
        elif (len(df) > 1) and (len(df.columns) <= 3):
            new_df_list.append(df[df[df.columns[-2]].notna()])

    middle_df_list = []

    for i in new_df_list:
        df = i.reset_index(drop=True)
        for ind,r in df.iterrows():
            if type(df.at[ind, df.columns[-1]]) == float:
                row_vals = ['NA']
                row_vals.extend(list(df.iloc[ind][:-1]))
                df.iloc[ind] = row_vals
        if len(df) > 3:
            middle_df_list.append(df)

    final_df_list = []

    for i in middle_df_list:
        df = i
        if type(df.at[0, df.columns[-1]]) == float:
            row_vals = ['NA']
            row_vals.extend(list(df.iloc[0][:-1]))
            df.iloc[0] = row_vals
        for x in df.columns:
            if ('Unnamed' not in x) and (' ' in x):
                col_to_sep = x
                col_sep = x.split(' ')
                df[col_sep] = df[col_to_sep].str.split(' ',expand=True)
                df = df.drop(columns=col_to_sep)
        final_df_list.append(df)
    #create copy of each df
    #shift columns if needed, transpose, and combine total_df
    for i in final_df_list:
        if len(i) >0:
            copy = i.copy()
            if copy.columns[0] != 'Unnamed: 0':
                columns = copy.columns[:-1].insert(0, 'Unnamed: 0')
                copy = copy.set_axis(columns,axis=1)
            copy = copy.iloc[-(len(cols)-1):].drop(columns='Unnamed: 0').T.reset_index()
            copy = copy.set_axis(cols, axis=1)
            total_df = pd.concat([total_df, copy], ignore_index=True)
    total_df['year'] = year

    #drop rows with null values
    total_df = total_df.dropna()

    #clean data and change dtypes to numeric
    total_df = total_df.loc[total_df['mean_starting_salary'] !='NA']
    total_grads = []
    for i in total_df['total_graduates'].values:
        total_grads.append(re.sub(',', '', i))
    total_df['total_graduates'] = total_grads
    total_df['total_graduates'] = total_df['total_graduates'].astype(int)
    mean_sals = []
    for i in total_df['mean_starting_salary'].values:
        mean_sals.append(re.sub(',', '', i[1:]))
    total_df['mean_starting_salary'] = mean_sals
    total_df['mean_starting_salary'] = total_df['mean_starting_salary'].astype(int)
    for i in total_df.columns[2:-2]:
        total_df[i] = total_df[i].str.rstrip('%').astype('float')

    #return cleaned and combined df
    return total_df

In [330]:
clean_and_combine(bach_2017, 2017, bach_cols_2017)

ValueError: invalid literal for int() with base 10: 'LIN2G4U5ISTIC COMPARATIVE'

In [ ]:
def get_all_data(df_dict, grad_threshold, kr_threshold):
    #create empty dataframe to combine into
    combined = pd.DataFrame()

    #add all desired years
    for i in df_dict.keys():
        year_df = clean_and_combine(df_dict[i], int(i))
        combined = pd.concat([combined, year_df], ignore_index=True)

    #only keep data that meets desired graduate and knowledge rate criteria
    combined = combined.loc[(combined['total_graduates'] >= grad_threshold) & (combined['knowledge_rate'] >= kr_threshold)]
    return combined